[2015-06-22 09:23] nelsonic opened #1 "what problem are we trying to solve and why?"
what problem are we trying to solve and _why_?

[2015-06-22 11:10] nelsonic opened #2 "Sketch for MetaData in the Markdown"
![image](https://cloud.githubusercontent.com/assets/194400/8280684/8a35da48-18d7-11e5-8e0a-d18ea0a4549e.jpg)

[2015-07-01 10:21] nelsonic commented on #1
**IMO** the fundamental problem is **Communication**.
Organisations consisting of two people can easily communicate haphazardly in multiple channels (Chat, Trello, Email, Verbal, SMS, GitHub Issues, etc.)
But the moment you want to run an organisation with people who are working _remotely_, we need to have a **_single version of the truth**_ where _everyone_ knows to go for info.

Tools which _par

[2015-07-04 02:25] nelsonic opened #3 "Investigate Programatically Creating Labels to Issues via GitHub API"
We can _set_ labels: https://developer.github.com/v3/issues/#edit-an-issue
Question is: can we _create_ a **_new**_ label for a repo using the API?

[2015-07-06 14:08] iteles commented on #3
Looks like we can relatively easily: https://developer.github.com/v3/issues/labels/#create-a-label

[2015-07-16 20:01] nelsonic opened #4 "{name} is Editing this Issue right now."
Should we signal to others when someone is editing an issue?

[2015-07-16 21:32] iteles commented on #4
:+1:

[2015-07-18 06:25] nelsonic opened #5 "Can/Should we use Primus instead of (or with) Socket.io?"
What are the advantages of using primus?
https://github.com/primus/primus

[2015-07-19 22:58] nelsonic opened #6 "GitHub Authentication"
one of the first steps is getting GitHub authentication working. who wants (has time) to work on this?

[2015-07-20 11:06] jrans commented on #1
Terrible feed (too much noise and too much time spent navigating)

[2015-07-20 11:06] NataliaLKB commented on #1
Problem I would like to solve:

#### Lack of Prioritisation
- as an individual
- for each repo
- for each organisation

[2015-07-20 11:07] claireinez commented on #1
Navigation to all the organisations you're involved in (and their issues) takes a lot of clicks.

[2015-07-20 11:07] anniva commented on #1
**Need to know who is working on an issue.** All the people involved working on an issue for example if working in pairs, you can only assign a issue to one person. (Even though there should still be a single point of responsibility).

[2015-07-20 11:08] Danwhy commented on #1
**Knowing what's important.** Some issues are irrelevant to some users, but besides assigning specific people, there isn't a way for people to know whether or not an issue will be relevant to them. Also, some people are members of organisations that they are only lightly involved in, and they're not particularly interested in the day to day issues of that organisation.

[2015-07-20 11:08] iteles commented on #1
Github cannot be used easily by non-technical people at the moment which means **an organisation can never work only from a single tool** (or 'single version of the truth').

[2015-07-20 11:10] SimonLab commented on #1
Github create too much noise: emails notifications, long list of notification on your home page.
**How to filter or prioritise notifications? How we can delete or minimize noise?**

[2015-07-20 11:11] izaakrogan commented on #1
##### Who determines prioritisation

Should individuals be entirely responsible for the prioritisation in their workflow, or should a team lead have some input?

[2015-07-20 11:11] benjaminlees commented on #1
All businesses/groups/organizations have different work flows and have there own priorities so they should be capable of organizing there github issues in a way that best fits their work flow.

Similarly everyone has there own way that they like to breakdown and digest issues, so they should also have the capability of customizing the way in which they view their own issues.

[2015-07-20 15:41] nelsonic opened #7 "Set Up Hapi.js Server with initial Tests"
We are using Hapi.js as our web server. we need a base server to get working on #6 (GitHub Auth)

[2015-07-20 15:43] nelsonic commented on #1
@iteles please add a note summarising which problem we decided to solve for MVP.
The _reason_ this will be important is when we are building a landing page for the project its _essential_ to inform people _exactly_ what they can hope to get from using the app.

[2015-07-20 16:03] nelsonic opened #9 "Create Dummy GitHub User for use in End-to-End Tests"
As per title. we need a Dummy GitHub User we can use in tests.

[2015-07-20 16:37] Danwhy opened #10 "test issues for jack"
@jrans you need more issues.

[2015-07-20 16:37] nelsonic opened #11 "Create Heroku App for Deploying our App"
In the first instance we are deploying this to Heroku.

[2015-07-20 16:38] nelsonic commented on #11
Done: https://tudo.herokuapp.com
(nothing to see there yet...)

[2015-07-20 16:42] benjaminlees opened #12 "Create a codeship account for the project."
- [ ] Connect to github.
- [ ] Connect to heroku.
- [ ] Configure to run tests on pull requests and merges.

[2015-07-20 16:48] NataliaLKB opened #13 "Storing Issues"
Hi @nelsonic,

It's @jrans, we spoke briefly earlier in person.

Each issue is approx 4605 characters/bits or 570bytes. Do we store the whole thing? Just the title and time last edited..?

Up for discussion but nice to know our space limitations.

Best Wishes,

Jack

[2015-07-20 17:08] iteles opened #15 "Create the initial design for tudo"
A simple design to start with, as described in the readme for PR #42

<img width="918" alt="proposed-initial-stripped-down-design" src="https://cloud.githubusercontent.com/assets/4185328/8803847/24905988-2fc1-11e5-8a10-754ab36236ad.png">

For the cards vs row part of the readme conversation
<img width="899" alt="screen shot 2015-07-21 at 19 43 34" src="https://cloud.githubusercontent.com/assets/41

[2015-07-20 19:09] nelsonic commented on #13
@jrans or @NataliaLKB could you please upload a sample file? _thanks_

[2015-07-20 20:46] nelsonic commented on #6
![github-sign-in](https://cloud.githubusercontent.com/assets/194400/8786882/be2842de-2f28-11e5-8fd9-2022cba21e31.png)

[2015-07-20 21:14] nelsonic commented on #6
![gitHub-logo-with-octocat](http://i.imgur.com/OpgVViO.jpg)

[2015-07-20 21:49] nelsonic commented on #6
@benjaminlees what do you think about this:
<img width="827" alt="tudo-login-with-github" src="https://cloud.githubusercontent.com/assets/194400/8788330/8b4d03dc-2f31-11e5-9ec8-795a0ffdbe8a.png">

[2015-07-20 22:43] NataliaLKB opened #17 "Cleaning up code and deleting duplicate servers on `githubIssuesApi` branch"
Noticed there were some duplicates of server.js files, and scripts in the package.json.

Fixing these issues and cleaning up the PR #16

[2015-07-20 23:03] NataliaLKB opened #18 "Storing credentials?"
Are we using [env](https://www.npmjs.com/package/env), [config](https://www.npmjs.com/package/config), or a config.json (as currently in the `githubIssuesAPI` branch

[2015-07-20 23:49] #17 closed, assigned to NataliaLKB

[2015-07-21 06:54] nelsonic commented on #18
I've shared a Google Doc: https://docs.google.com/document/d/1uztGvSE8nxjQwJtCorQUiNM9irjIoomhFuhLfghDC0o
With you which contains the env.json which you can copy paste.
The `.gitignore` should prevent people from accidentally adding the secret keys to GitHub.

Please share the Google Doc with the relevant people so they can run the app.
Thanks! :+1:

[2015-07-21 08:19] nelsonic commented on #11
Getting error because of lack of env.json:
<img width="914" alt="heroku-app-error" src="https://cloud.githubusercontent.com/assets/194400/8796021/83550118-2f89-11e5-8f5d-994e4ac971ad.png">

<img width="831" alt="heroku-logs-detailing-error" src="https://cloud.githubusercontent.com/assets/194400/8796024/86ea42a2-2f89-11e5-903e-42fc00e6f26d.png">

[2015-07-21 08:49] NataliaLKB commented on #18
@jrans, shall we do this now on your laptop?

[2015-07-21 09:34] NataliaLKB commented on #18
@nelsonic should be shared with the relevant people now!

[2015-07-21 09:37] NataliaLKB commented on #13
@nelsonic sample file provided in #16 here: https://github.com/dwyl/tudo/blob/githubIssuesAPI/exampleIssue.json

[2015-07-21 09:59] jrans opened #20 "Redis cloud url"
Using one from a black personal app but assume dwyl will want to set up one on heroku.
@nelsonic  @iteles ?

[2015-07-21 10:02] jrans opened #21 "Web hooks for new issues"
@nelsonic @benjaminlees Will you add a webhook on initial authorisation to notify us of the creation of new issues?

[2015-07-21 10:24] #11 closed, assigned to nelsonic

[2015-07-21 10:27] nelsonic opened #23 "Add Badges to repo README"
see: https://github.com/dwyl/repo-badges

[2015-07-21 10:32] nelsonic opened #24 "Landing Page Copy (That Converts!)"
Turn our **Why?** into landing page copy that helps people identify with the problem(s) and makes them want to sign up and _use_ the product!

Right now we have:
<img width="941" alt="tudo-login-page-copy-alpha" src="https://cloud.githubusercontent.com/assets/194400/8798706/2201706e-2f9c-11e5-8396-ebd5de0c4870.png">

[2015-07-21 10:45] nelsonic commented on #11
![heroku-config-variables](https://cloud.githubusercontent.com/assets/194400/8795158/59ca2e06-2f82-11e5-81f4-07dee9bb3d4b.png)

[2015-07-21 11:03] msmichellegar opened #26 "Remove Materialise CSS and replace with regular CSS"
Materialise CSS was added by @nelsonic as an interim solution for the authentication page. This needs to be replaced with regular CSS by the frontend team.

From: https://github.com/dwyl/tudo/pull/25

[2015-07-21 11:20] Danwhy opened #27 "Data structures and storage"
Finish deciding on the data structure and start implementing the storage of issues on Redis.

[2015-07-21 11:23] SimonLab opened #28 "Server side rendering of the home and issue pages"
Create the html from tags on the server side. Plug the data from Github with the front-end

[2015-07-21 11:30] jrans opened #29 "Github label defintions"
Need research into each of the Github default label meanings (espesh invalid).

[2015-07-21 11:39] jrans opened #30 "Github milestones"
Research into best practises on how milestones are used on Github and decisions made on how our app uses them and links them with labels.

[2015-07-21 11:43] msmichellegar opened #31 "Should the UI display Milestones for (Grouping) Issues?"
We've discussed adding "milestones" as a feature of the app, allowing people to create and manage sprints. The frontend team will have to consider how to incorporate this into the interface.

[2015-07-21 11:44] msmichellegar commented on #31
See also: https://github.com/dwyl/tudo/issues/30

[2015-07-21 11:46] msmichellegar commented on #30
See also: https://github.com/dwyl/tudo/issues/31

[2015-07-21 11:46] jrans commented on #10
adding comment to see the object

[2015-07-21 11:50] jrans commented on #10
@Danwhy just filling the issue object with more content to look at.
![10568831_10152600970189549_4248070944150361947_n](https://cloud.githubusercontent.com/assets/12045918/8800033/1ab29f76-2fa7-11e5-9ceb-2ab8aa8960b4.jpg)

[2015-07-21 11:52] msmichellegar opened #32 "Time labels in minutes or hours?"
Should "time-estimate" and "time-actual" labels display in the UI as hours or minutes?

As in: "time-estimate:300" vs. "time-estimate:5hrs".

What is more intuitive? And what is more effective for team management?

@NataliaLKB suggested A/B testing this later down the line.

[2015-07-21 11:59] jrans opened #33 "unestimated time label - functionality"
When created an issue unestimated label automatically given by backend?

When estimated time added need time unestimated removed by backend.

[2015-07-21 12:08] jrans opened #34 "Custom Labels"
These are our initial ideas:

Prioritisation: (numbers preferred atm)
- high/1
- med/2
- low/3

Agile:
- ice-box
- "replace milestones with sprint:

Time:
- Time estimated in minutes
- Time unestimated
- Time actual (on completion)

Other:
- dependency

WorkFlow:
- ???

Expense:
- ???

Techincal Task:
- Refactor...

[2015-07-21 12:09] jrans commented on #34
Create a glossary please @benjaminlees

[2015-07-21 12:13] jrans commented on #34
Any more ideas?

[2015-07-21 12:16] jrans commented on #29
@iteles

[2015-07-21 12:17] jrans opened #35 "DWYL Tudo Badge"
Create a nice svg badge and suitable link for readmes.

[2015-07-21 12:21] jrans opened #36 "Custom Milestones"
Just like custom labels #34 need to discuss whether we'd like to create milestone templates and how they can link to labels.

[2015-07-21 13:21] iteles commented on #32
**Starting point:** Input on the frontend be done in hours and minutes to start with and translated into minutes for the backend.

[2015-07-21 13:51] claireinez opened #37 "Get all issues for all a user's (and their organisations') repos"
Return the data for all the issues that a user has interest in, not just the issues assigned to them.

[2015-07-21 13:52] claireinez commented on #37
Working on this with @NataliaLKB

[2015-07-21 14:07] jrans opened #39 "API - Comments of an issue"
@nofootnotes @NataliaLKB

The issue objects we receive back from the call to get issues assigned to a person only contains the number of comments on an issue not the comments themselves.

Investigation needs to be done but think you'll need to make an API call for each issue to get these details plus others?

When doing this would be nice to get an example of  the complete issue object.

Thanks,

[2015-07-21 14:12] jrans commented on #27
everyone: What are your needs?

[2015-07-21 14:23] besarthoxhaj commented on #34
@jrans starting now to have a look at this. Any idea where to start?

[2015-07-21 14:29] besarthoxhaj commented on #3
Working on this, right now. Related also to **Custom Labels** from https://github.com/dwyl/tudo/issues/34

[2015-07-21 14:38] iteles opened #40 "CSS | Fix 'double border' bug on issues-list"
[Screenshot to be added here soon]

[2015-07-21 14:43] dwyltest commented on #9
@iteles   I have created a dummy github account to review the details see https://docs.google.com/document/d/1uztGvSE8nxjQwJtCorQUiNM9irjIoomhFuhLfghDC0o/edit

[2015-07-21 14:45] benjaminlees commented on #9
@iteles that last message came from the dummy

[2015-07-21 15:07] nelsonic opened #43 "Travis Builds Failing :-("
Travis Builds are Failing because `test/env.js` was not restoring environment variables ...
<img width="1017" alt="travis-builds-failing" src="https://cloud.githubusercontent.com/assets/194400/8804115/83936172-2fc2-11e5-8ede-1e053bfdc669.png">

[2015-07-21 15:24] msmichellegar opened #45 "Create riot components from HTML structure files"
@iteles and I have created some HTML structure files for the server-side rendering people to have a structure to render with.

These are required as riot `.tag` files, so we need to convert the html structure into riot-friendly files.

[2015-07-21 15:34] benjaminlees opened #46 "discuss components"
- [ ] What are our basic components ?
- [ ] Should we document how we plan on sharing reusable modules on separate modules.

[2015-07-21 15:34] #43 closed, assigned to nelsonic

[2015-07-21 16:25] iteles opened #47 "Create HTML structure for files"
We need to put together some HTML structure for the server-side team rendering to know what they are rendering!

[2015-07-21 16:49] nelsonic commented on #2
We are using Labels instead of attempting to parse markdown. see: #34

[2015-07-21 16:49] #2 closed, assigned to nobody

[2015-07-21 17:10] nelsonic commented on #46
Good question @benjaminlees !
Not really something I'm going to have the answers for.
Looks like we need the #discussion label for our org...

[2015-07-21 17:16] msmichellegar opened #48 "Pure CSS toggle switch"
@iteles and I are on a quest to code a CSS-only toggle for the issue page. Right now we're using radio buttons, but we might be using checkboxes. Stay tuned!

[2015-07-21 17:50] anniva opened #49 "File & folder naming -> Underscores"
File & folder naming should be underscores with all files.
So no uppercase letters or hyphens.
Action based naming (not declarative)

[2015-07-21 18:22] NataliaLKB commented on #32
Personally I think we should display in the UI as 5 hrs as a first iteration.
For me that seems more intuitive.

[2015-07-21 21:57] NataliaLKB commented on #39
Cool! Will work on this tomorrow.

[2015-07-21 22:13] #15 closed, assigned to nobody

[2015-07-22 00:00] nelsonic opened #51 "Pre-fetch people's issues while they are authenticating with GitHub"
instead of waiting for people to perform the steps to authorise Tudo (to access their GitHub orgs/issues we _could_ request their GitHub username on the login page and initiate the retrieval of their issues _while_ they are authenticating... That way, by the time they get back to Tudo their issues dashboard is already pre-rendered and loaded! This is a **_wow-factor**_ people won't be _expecting_

[2015-07-22 17:53] iteles commented on #9
:+1: Looks good, thanks @benjaminlees!

[2015-07-22 17:53] #9 closed, assigned to iteles

[2015-07-22 17:54] iteles commented on #51
I'd love to test this out, this will be an amazing selling point if we can get the performance to work like we expect!

[2015-07-22 17:56] iteles commented on #29
Already done by @benjaminlees in pull #53

[2015-07-22 17:57] #3 closed, assigned to besarthoxhaj

[2015-07-23 07:05] nelsonic commented on #35
@jrans love this idea! what copy would go in the badge/button? max 3 words (_preferably two_)

Examples: https://github.com/dwyl/repo-badges

David has the most words: [![Dependency Status](https://david-dm.org/dwyl/tudo.svg)](https://david-dm.org/dwyl/tudo)
Gitter has _branding_ (_and **tracking**_) in their badge: [![Join the chat at https://gitter.im/{ORG-or-USERNAME}/{REPO-NAME}](https://badge

[2015-07-23 07:23] nelsonic commented on #35
I quite like the idea of having a number (_preferably a percentage_) which shows how far the project (repo) is from being "done".
e.g: [![Tudo Prioritises GitHub Issues](https://img.shields.io/badge/tudo-37%-brightgreen.svg?style=flat)](https://github.com/dwyl/tudo/issues)

But I'm _sure_ others will have _great ideas_ for what to put in the Repo Badge.
What were you thinking when you raised this

[2015-07-23 07:28] nelsonic commented on #23
Done.

[![Build Status](https://travis-ci.org/dwyl/tudo.svg)](https://travis-ci.org/dwyl/tudo)
[![Test Coverage](https://codeclimate.com/github/dwyl/tudo/badges/coverage.svg)](https://codeclimate.com/github/dwyl/tudo/coverage)
[![Code Climate](https://codeclimate.com/github/dwyl/tudo/badges/gpa.svg)](https://codeclimate.com/github/dwyl/tudo)
[![Dependency Status](https://david-dm.org/dwyl/tudo.svg

[2015-07-23 07:28] #23 closed, assigned to nelsonic

[2015-07-23 07:46] nelsonic commented on #33
This is _functionality_ we need to _build_.

@iteles how does that sound?

[2015-07-23 07:48] nelsonic commented on #21
@jrans yes! please add links to API docs for how to do this. :+1:

[2015-07-23 07:59] nelsonic commented on #20
@jrans we have several Redis Cloud "_Test_" Urls. We've updated the Google Doc with one of them. :+1:
Also why is the word TEST _in_ the key name?
We prefer to use `REDISCLOUD_URL` **_everywhere**_ (to have fewer environment variables to have to keep track of) and simply never put the "_Real_" ("_production_") url in an env.json file (because its always stored by the server _running_ the app)

[2015-07-23 08:14] benjaminlees commented on #12
done by @nelsonic.

[2015-07-23 08:14] #12 closed, assigned to benjaminlees

[2015-07-23 08:14] #29 closed, assigned to benjaminlees

[2015-07-23 09:10] nelsonic commented on #13
![example-issue-json-404](https://cloud.githubusercontent.com/assets/194400/8846973/ce7ec4fe-3122-11e5-84ea-cbae11a2b48b.jpg)

When referencing a file on GitHub, _always_ include the commit hash in the url ... otherwise :panda_face: :cry:

thanks. :+1:

[2015-07-23 09:16] msmichellegar opened #54 "Mysteriously disappearing bottom border in mobile view"
CSS does crazy things. We have a weird issue where our bottom borders disappears in the Chrome mobile view. This is not a problem when we open it without the mobile view, or in any other browsers.

Must investigate this behaviour to figure out if it's a real mobile view issue, or just a Chrome dev tools issue.

Desktop view:
![bottom-border-appears-in-desktop-view](https://cloud.githubusercontent.

[2015-07-23 09:21] iteles commented on #48
HTML so far, commit https://github.com/dwyl/tudo/commit/c31e3c114451c7b1e1242c089980e0aa8c0fa1a4

[code]

[2015-07-23 09:29] nelsonic commented on #48
_Where_ is the Toggle? (_**please** be **explicit/specific** so the person reviewing the issue for "**done**" will have an easier life..._)
e.g:

![initial-homepage-and-issue-app-screens-toggle](https://cloud.githubusercontent.com/assets/194400/8847296/65415896-3125-11e5-8c62-dd64a2caddaf.png)

[2015-07-23 09:30] nelsonic commented on #49
@anniva is there a **pull request** for changing the names of files to (_consistently_) use underscores?

[2015-07-23 09:32] nelsonic commented on #54
@msmichellegar is this _reproducible_ on the _actual_ device or is it specific to the Chrome emulator?

[2015-07-23 09:33] msmichellegar commented on #54
@nelsonic We are yet to test this. Just leaving this issue here so we know to come back and figure that out.

[2015-07-23 09:35] nelsonic commented on #47
@iteles what still needs to be "_decided_"?
_Where_ is the _proposal_ and request for discussion/decision?
because otherwise this issue is _worse_ than _useless_... :panda_face: :cry:

[2015-07-23 09:36] nelsonic commented on #37
Please assign Pull Request to me and call everyone's attention so we can do a collective merge. thanks.

[2015-07-23 09:38] nelsonic commented on #45
@msmichellegar please reference the commit hash where these HTML structure files were created so the person trying to follow along does not have to go hunting. thanks! :+1:

[2015-07-23 09:39] nelsonic commented on #40
@iteles screenshot?

[2015-07-23 09:42] nelsonic commented on #36
@jrans are you preparing the research on **Custom Milestones** to present to people?
e.g. create a custom-milestones.md file where you describe _in detail_:
- what problem are you trying to solve
- how do custom milestones (_attempt to_) solve that problem
- why should people start using custom milestones for their projects/repos ?

This is not an "**_MVP**_ _feature_", but I _agree_ it would be _

[2015-07-23 09:43] nelsonic commented on #34
@jrans what still needs to be done for this?

[2015-07-23 09:45] nelsonic commented on #30
Relates to #36

[2015-07-23 09:46] nelsonic commented on #24
@msmichellegar + @iteles would you mind crafting some great Landing Page copy we can use to get people _excited_ about using Tudo?

[2015-07-23 09:51] nelsonic commented on #32
Most people intuitively understand minutes up to a number depending on their reference point.
e.g:
- People who watch/play sports will think in terms of **90mins**
- People who  watch lots of movies will be comfortable with **126mins**

My suggestion would be: everything over `{X}m` minutes should be displayed as `{H}h` (_preferably **rounded down** to the nearest hour_)

But, we need to figure ou

[2015-07-23 09:53] nelsonic commented on #20
The new test url is in the env.json Google Doc: https://docs.google.com/document/d/1uztGvSE8nxjQwJtCorQUiNM9irjIoomhFuhLfghDC0o

closing issue.

[2015-07-23 09:53] #20 closed, assigned to nelsonic

[2015-07-23 10:01] msmichellegar commented on #45
Full HTML structures for home and issue view were added here: https://github.com/dwyl/tudo/commit/30d778ce3ee48a6a917dec7a12a8cabc80e29f7a

However most up-to-date versions (with only a few minimal changes in the issues view) are in this pull request (waiting to be merged!): https://github.com/dwyl/tudo/pull/55

[2015-07-23 10:01] #7 closed, assigned to nelsonic

[2015-07-23 10:03] nelsonic commented on #4
Next week when we start enabling #RealTime interactivity we will come back to this.
We need an "**idea**" label in #34 (_custom labels_) so its clear what is a feature vs. idea (_wouldn't-it-be-cool-if..._)

[2015-07-23 10:04] nelsonic commented on #5
@besarthoxhaj have you done a bit more investigation into WebSocket libraries? which one is the most reliable?

[2015-07-23 10:15] iteles commented on #47
We needed to have an issue to work against whilst @msmichellegar and I put together our proposed HTML structure. The _proposal_ is what this issue is here for and we were open to suggestions, hence the 'help wanted' label.
These needed to be put together as quickly as possible so that we weren't a bottleneck for the server-side rendering tasks, such as #45.

This is now done in its most basic form

[2015-07-23 10:20] nelsonic commented on #51
@iteles have you watched the **Foundation** Episode featuring **_Kevin Systrom**_ (**_instagram**_) ?

What were the [**USP**](https://en.wikipedia.org/wiki/Unique_selling_proposition)s that contributed to **_instagram**_'s success (_considering how many photo-related-apps were in the app store at the time_) ?

cc: @besarthoxhaj

[2015-07-23 10:25] nelsonic opened #56 "example issue JSON format"
when adding example files to repos always format them so they are as readable as possible (_for the next person_).

in the case of a JSON file, use http://jsonlint.com/

Unformatted makes it quite hard to read:

<img width="947" alt="tudo-example-issue-json-no-format" src="https://cloud.githubusercontent.com/assets/194400/8848373/bfbd5cee-312e-11e5-8fae-7c63632fbdcf.png">

However a bit of formatt

[2015-07-23 11:04] anniva opened #57 "Riot tags main // create the tags for the main page"
home_container.tag
 nav.tag
 categories.tag
 issue_list.tag
   issue.tag

[2015-07-23 11:06] nelsonic commented on #46
Given the discussion this morning focussed on the components required to render the **Homescreen** and **Issues _Views_**:

<img width="675" alt="initial-homepage-and-issue-app-screens" src="https://cloud.githubusercontent.com/assets/194400/8848586/5c6914f6-3130-11e5-9a6f-38cacb890fa2.png">

These can be broken down into:

## Homepage
- **Layout** (all the html boiler plate for meta tags and css)

[2015-07-23 11:10] anniva opened #58 "Riot tags issues // create the tags for the issues page"
issue_page_container.tag
 issue_title.tag
 label_container.tag
 issue_description.tag
 comment_container.tag
   latest_comment.tag
   all_comments.tag

[2015-07-23 11:27] msmichellegar commented on #58
Are these tags that have been created?

[2015-07-23 11:53] besarthoxhaj commented on #5
Me and @benjaminlees wanted to dig into socket.io and see what they were doing. Did not have the time to do it yet.

However must say that love the readme of primus, is more beginner friendly.
Should we have brief brainstorming this late afternoon and talk about it?

[2015-07-23 11:59] besarthoxhaj commented on #51
@nelsonic love the idea! Let's do it!

[2015-07-23 12:22] iteles commented on #58
@anniva Note that this morning when we were determining data, we decided we'd display only the latest comment for now and add 'all comments' in the next iteration :blush:

[2015-07-23 12:31] iteles commented on #46
@benjaminlees @SimonLab @rorysedgwick @anniva Just checking you guys have seen Nelson's latest comment above?

[2015-07-23 12:46] nelsonic commented on #5
@besarthoxhaj if you & @benjaminlees  have time to do the research and determine which WebSocket wrapper is the most reliable & performant (adds the least overhead to the protocol) and put this research into a markdown file, it would be _awesome_!

[2015-07-23 15:32] msmichellegar commented on #32
I agree. I think minutes beyond about 120 are less intuitive, and we don't want people to struggle to convert minutes to hours in their heads every time they use our UI.

[2015-07-23 15:38] iteles commented on #26
This was removed from `login.tag` in pull request #64: https://github.com/dwyl/tudo/blob/ced7cdfc6fafca532f275557a80c17333ce895cd/views/login.tag

It was removed from `layout_header.html` by @SimonLab and @benjaminlees in this commit:
https://github.com/dwyl/tudo/commit/e38ad8a2a8ee53aa816458a89f1523f2cc429a68

[2015-07-23 15:38] #26 closed, assigned to msmichellegar

[2015-07-23 15:40] iteles opened #65 "Remove fontawesome from code and investigate alternatives"
Fontawesome is a drain on performance and generally unnecessary. This needs to be removed post-MVP.

[2015-07-23 16:15] iteles commented on #33
I would rephrase slightly to:

But :+1:

[2015-07-23 16:40] msmichellegar commented on #26
![proposed-landing-page-view](https://cloud.githubusercontent.com/assets/10683087/8856303/ed930078-3161-11e5-9f84-edadadaa885a.png)

[2015-07-23 17:33] claireinez opened #70 "Remove exampleOfBasicIssue.json"
This is no longer needed as newer and more relevant sample information is provided in example_issues.json

[2015-07-23 17:46] benjaminlees commented on #70
@nofootnotes this has been updated and will now be closed.

[2015-07-23 17:46] #70 closed, assigned to claireinez

[2015-07-23 17:49] iteles opened #72 "CSS | Investigate styling of issue label colours"
Labels can be given **any** colour so there is no _predictable_ set that we can code into the CSS file.

We need to investigate what the best way to ensure we can provide the right colour of background to the labels is. This will _ideally_ be done **without** inline styling as github uses in some places (oddly).
<img width="819" alt="github-inline-styling" src="https://cloud.githubusercontent.com/

[2015-07-23 17:50] nelsonic commented on #72
What is the problem with dynamically setting the color an in-line style in the tag (_view_) ?
(this is far less complex than having an ever expanding list of colors in the CSS file...
e.g: `views/label.tag`

[code]

[2015-07-23 18:08] nelsonic commented on #65
And swapped for what?

[2015-07-23 18:17] nelsonic commented on #49
Thanks @anniva :+1:
Closing.

[2015-07-23 18:17] #49 closed, assigned to anniva

[2015-07-23 18:33] claireinez commented on #37
PR merged so closing this issue

[2015-07-23 18:33] #37 closed, assigned to claireinez

[2015-07-23 18:36] NataliaLKB commented on #13
@nelsonic thanks that is a helpful hint!

@jrans has this questions been answered satisfactorily? Is this ready to close?

[2015-07-23 18:41] nelsonic commented on #33
I see your rephrase and re-raise you:

Courtesy of http://postlikeapirate.com/ :wink:

[2015-07-23 18:46] iteles commented on #72
I avoid inline styles as a rule because they are detrimental to:
- **Accessibility:** There are groups of people who navigate the web with custom stylesheets which are **always** _overriden by inline styles_ - for example, significantly colour blind people use custom stylesheets to allow them to see fonts overlayed on specific colours;
- **Readability:** It clutters the code, especially in this ca

[2015-07-23 18:48] iteles commented on #33
:laughing:

[2015-07-23 18:51] iteles commented on #65
:+1: I need to investigate that - clarified in issue title as it wasn't implied (whether that be our own icons or images or a a stripped down custom version of the fontawesome library)

[2015-07-23 19:25] jrans commented on #39
Great work guys!

[2015-07-23 19:25] #39 closed, assigned to NataliaLKB

[2015-07-23 19:34] nelsonic commented on #21
@Danwhy a little bird tells me you might be investigating this...? :wink:

[2015-07-23 19:35] nelsonic commented on #18
@NataliaLKB can we close this now? :+1:

[2015-07-23 19:36] NataliaLKB commented on #18
Closing as we have decided on using `env.json`

[2015-07-23 19:36] #18 closed, assigned to NataliaLKB

[2015-07-23 19:37] NataliaLKB commented on #13
@jrans closing for now. Do reopen if you discover things are missing.

[2015-07-23 19:37] #13 closed, assigned to nelsonic

[2015-07-23 22:04] nelsonic opened #74 "Update API Keys and Encrypt on Travis-CI"
http://docs.travis-ci.com/user/environment-variables/#Encrypting-Variables-Using-a-Public-Key

[2015-07-24 06:31] #74 closed, assigned to nelsonic

[2015-07-24 13:24] nelsonic opened #76 "Does knowing who on your team is currently online help get work done?"
The hypothesis is: does knowing people are online (_available_) help get work done?
(does it help when you know _**Tina is Offline**_ - as in: _don't expect her to merge your  pull request...__
![buddy list](http://i.imgur.com/LcxVci4.png)

[2015-07-25 05:34] nelsonic commented on #24
@msmichellegar created a landing page view:
![proposed-landing-page-view](https://cloud.githubusercontent.com/assets/10683087/8856303/ed930078-3161-11e5-9f84-edadadaa885a.png)

see: https://github.com/dwyl/tudo/issues/26#issuecomment-124163243

[2015-07-25 15:58] iteles commented on #76
:+1: This would be pretty useful! Would be good to have the option to manually change your status in case you're trying to get work done but don't want to be interrupted or are not _officially_ working (just playing catchup late at night or early morning for example).
Would love to hear other opinions though.

[2015-07-25 16:14] iteles commented on #1
It was decided that the **key** problem we wanted to solve was **prioritisation of issues** - further problems would be solved in future iterations.

The starting point for this is to recreate a view of all issues a person is involved in and add prioritisation functionality once we have access to these and have a basic foundation set up.

![problem-statements-on-wall](https://cloud.githubuserconte

[2015-07-25 16:23] iteles commented on #47
This was completed with PR #64 with the [addition of login.html](https://github.com/dwyl/tudo/blob/6f99d727b2ace2d67509fd0493859b96825ef535/html-structures/landing.html) into the temporary `html_structures` folder, but it appears to not have filtered through to the master.

The `html_structures` folder is a temporary folder intended to be deleted as soon as `.tag` files have been completed, but it

[2015-07-25 16:27] iteles opened #77 "CSS | Add indentation back into main.css (disappeared from master)"
All indentation has been removed from `main.css` [in the latest commit](https://github.com/dwyl/tudo/blob/abdff2aff64e2ca8592c7e554ef486fdd1bdb082/public/main.css).

This needs to be put back in [as originally written](https://github.com/dwyl/tudo/blob/6f99d727b2ace2d67509fd0493859b96825ef535/public/main.css) by @msmichellegar and @iteles.

[2015-07-25 17:57] nelsonic commented on #1
@iteles thanks for adding the photo, however its not very legible even when clicked on to view larger version. how did you upload it?

[2015-07-26 17:49] iteles commented on #72
And then there's [this CSS tricks article](https://css-tricks.com/the-debate-around-do-we-even-need-css-anymore/) which beautifully sums up the arguments for and against inline styling.

[2015-07-26 17:59] nelsonic commented on #72
I _obviously_ prefer _**not**_ to have _inline styles_ @iteles
I look forward to seeing how this gets resolved (_in an **elegant** way_) without _inline styles_ ... :+1:

[2015-07-26 19:35] NataliaLKB commented on #76
I like the thought of knowing who is available at any one time to review a PR.

However, I agree with @iteles that having the option to manually change your status is pretty crucial (for me at least).

[2015-07-27 09:37] Danwhy commented on #21
@nelsonic I used webhooks in week 7, and have an example of it here:
https://github.com/Danwhy/issue-alert/blob/master/server.js#L12-L34
The docs:
https://developer.github.com/webhooks/creating/

[2015-07-27 09:39] nelsonic commented on #21
Sweet. thanks. :+1:

[2015-07-28 19:29] nelsonic commented on #24
@msmichellegar & @iteles Can we have this:

![hansel](http://i.imgur.com/ZA5g9sh.png)

as our landing page image? :laughing:

(_as in **Tudo** helps you **know exactly what you're working on today** unlike Hansel, he's so hot right now..._)

[2015-07-28 19:30] iteles commented on #24
He's so hot right now.

[2015-07-28 21:14] msmichellegar commented on #24
I approve!

[2015-07-29 08:10] iteles commented on #48
http://cssdeck.com/labs/better-css-toggle-switches

[2015-07-30 09:04] nelsonic opened #78 "The Official Guide to GitHub Issues"
https://guides.github.com/features/issues/
Might be worth adding this to the GitHub section of #StartHere https://github.com/dwyl/start-here#git--github

[2015-07-30 21:23] iteles opened #79 "Investigate visual regression testing"
[PhantomCSS](https://github.com/Huddle/PhantomCSS) seems quite popular and the [BBC uses its own framework](http://bbc-news.github.io/wraith/index.html).

Also,
- [ ] [Galen to test for responsiveness](http://davidwalsh.name/automated-tests-visual-responsive-layouts)
- [ ] http://www.gizra.com/content/visual-regression-travis-shoov-ngrok/
- [ ] https://css-tricks.com/automating-css-regression-test

[2015-07-31 08:14] nelsonic opened #80 "Should we have an "out of scope" label?"
![grumpy cat out of scope](http://cdn.meme.am/instances/500x/62805514.jpg)

Should we have an `out of scope` label to clearly signal when an issue is not part of the current requirement?
- https://en.wikipedia.org/wiki/Scope_(project_management)
- http://www.techrepublic.com/blog/it-consultant/define-project-scope-to-include-deliverables-boundaries-and-requirements/

relates to: https://github.com

[2015-07-31 08:28] iteles commented on #80
I think this would be useful.

We'll need to clearly differentiate between `invalid` and `out of scope` label definitions.

[2015-07-31 08:36] nelsonic commented on #80
@iteles what do _you_ see as the difference between `invalid` and `out of scope` ...?

[2015-07-31 08:45] iteles commented on #80
My view on these would be:
- `invalid` is an issue which is not actually an issue. This could be an issue outside of our control such as a personal computer problem or anything like 'the app isn't pink enough for me, you should make it pink' (I would consider this issue invalid but open an issue around custom colour themes).
- `out of scope` is a perfectly plausible issue or feature request, but i

[2015-07-31 10:59] nelsonic commented on #79
Could we ("just") take screenshots for now: https://github.com/sindresorhus/pageres ?

[2015-08-02 07:21] iteles commented on #79
Will try using https://github.com/sindresorhus/pageres-cli to screenshot a site running locally (no examples of this in docs).

[2015-08-02 22:55] nelsonic commented on #34
Are we going to let people pick the colors for custom labels or encourage them to use pre-defined colors (so that the experience will be consistent across repos/orgs) ?

[2015-08-03 07:46] iteles commented on #34
At the time we mentioned pre-defined colours to encourage consistency.

The only real downside here is that our pre-defined colours may clash with other existing labels for organisations that want to use _tudo_. If we stay 'off the beaten path' of standard Github colours, then we might not run into this problem as much.

_This question might deserve its own issue._ :wink:

[2015-08-05 07:51] iteles commented on #40
The design was changed so this bug disappeared on its own.

[2015-08-05 07:51] #40 closed, assigned to iteles

[2015-08-05 08:20] iteles commented on #1
Added a higher resolution photo above now we're not on a mobile internet connection :+1:

[2015-08-05 08:22] nelsonic commented on #1
![very nice](http://i.imgur.com/L2gI1c5.jpg)

[2015-08-16 21:16] nelsonic opened #81 "Should we send people email alerts?"
![email-nobody-reads](http://programmers.life/wp-content/uploads/2015/08/tirinhaEN-123.png)

[2015-08-17 10:53] FilWisher opened #82 "it is not obvious what is contained within html_structures."
Could this be renamed or reorganized?

[2015-08-17 11:04] nelsonic commented on #82
PR? :wink:

[2015-08-17 11:07] nelsonic opened #83 "Update to Latest Version of Hapi.js 9.0.2?"
Should we update to the latest version of Hapi?

[2015-08-17 11:10] rjmk opened #84 "Let's use env2 to manage our environment variables"
We're duplicating a lot of the code in lib/env.js and env2 is slightly more mature and powerful. :+1:

[2015-08-17 13:13] iteles commented on #82
This was just a set of reference files that should never have been merged into `master`, but used as reference for the folks creating Riot `.tag` files :blush:

I'm sure it'll disappear in this #dwylsummer iteration soon enough. Good spot!

[2015-08-17 13:27] nelsonic commented on #84
In PR 2.0 :+1:

[2015-08-17 13:27] nelsonic commented on #83
Also in PR 2.0 :+1:

[2015-08-17 13:32] nikhilaravi opened #86 "version of tudo on heroku is broken"
![screen shot 2015-08-17 at 14 32 07](https://cloud.githubusercontent.com/assets/5912647/9305895/ca5c0912-44ec-11e5-9e41-01c2c0b78ce2.png)

[2015-08-17 14:38] nelsonic commented on #86
![tudo-heroku-nodemon-error](https://cloud.githubusercontent.com/assets/194400/9307346/0a1956be-44f6-11e5-9541-5887cf86c9fb.png)

[2015-08-17 14:44] nelsonic commented on #86
![tudo-landing-page-heroku-working](https://cloud.githubusercontent.com/assets/194400/9307506/dc0e445e-44f6-11e5-8a46-ff633f4bd05f.png)

[2015-08-17 14:45] nelsonic commented on #86
@nikhilaravi please confirm this is working now. thanks! :+1:

[2015-08-17 14:45] nikhilaravi commented on #86
@nelsonic its looking good :+1:

[2015-08-17 14:46] nelsonic commented on #51
@FilWisher says:

(_I believe him..._) :wink:

[2015-08-17 14:48] nelsonic commented on #86
Sweet! :lollipop:

[2015-08-17 15:02] FilWisher opened #87 "Naming of parameters in callback is misleading."
`function (elm, ..., ...) {}` should perhaps be `function (issue, ..., ...) {}` because 'elm' is conventionally used to refer to elements.
https://github.com/dwyl/tudo/blob/fb5b3d6b1b18ba99fbd6211b5f80f77779c50147/lib/get_issues.js#L26

[2015-08-17 15:16] rjmk opened #88 "Reactive Programming"
We are being held up by processes that are returning a lot of data, just not _all at once_ (e.g. `getIssues`). Would it be worth looking into reactive programming to give the user the data we get as we get it?

[2015-08-17 15:22] nelsonic commented on #88
@rjmk do you _mean_ streaming the data to the client using WebSockets...? :wink:

[2015-08-17 15:56] NataliaLKB commented on #88
Last week at the Guardian there was a tech talk regarding Reactive Programming from @theefer.

For one of his talks he prepared [this dojo](https://github.com/theefer/funjs-reactive-loop). I haven't done it yet... (on my list of learning material) but it does look good, and may be worth taking a peak at @rjmk !

[2015-08-17 18:37] nelsonic commented on #88
What? a @TheGuardian chap _not_ doing Scala/Akka/Play? A demo written in Node.js? what? :open_mouth:
(Looks good. But I still don't _understand_ how this is _different_ from the "old" way of _streaming data_ to the client ... is "_Reactive_" the new WebSockets?)

[2015-08-17 18:56] rjmk commented on #88
@NataliaLKB Thanks that looks awesome! :+1:

@nelsonic I think probably websockets should be fine for us because the main differentiating feature of reactive programming (as I understand it (not very much)) is the in composing data and events from several sources. A properly extended stream can certainly fulfil the observer role that reactive programming seems to expect.

[2015-08-17 22:28] iteles opened #89 "We have an 'api' folder but won't be exposing an API until later on"
Should we rename it to be less misleading?

[2015-08-17 22:34] nelsonic commented on #89
@iteles the API folder was relegated during the update today. (in PR https://github.com/dwyl/tudo/pull/85)

[2015-08-18 08:19] iteles commented on #89
:+1:

[2015-08-18 09:09] jackpandas opened #91 "UI Sketches"
What should we use?
![2015-08-18 10 07 09](https://cloud.githubusercontent.com/assets/12116201/9326375/3b1caedc-4591-11e5-87c9-f2323710b439.jpg)
![2015-08-18 10 06 48](https://cloud.githubusercontent.com/assets/12116201/9326376/3b1d8ac8-4591-11e5-9c5f-5153b34bea1f.jpg)

[2015-08-18 09:12] nikhilaravi commented on #91
mine and @rjmk 's UI designs

Wanted to view the issues in different ways e.g. by project, by time, by priority - and have a way to toggle between them.

Really like @jackpandas 's idea of setting a 'main project' so you can easily switch to that and also seeing the last issue you were working on.

Also add calendar integration - drag and drop issues into time slots into a calendar so that you can

[2015-08-18 09:20] minaorangina commented on #91
Me and @FilWisher :+1:
![photo on 18-08-2015 at 10 17](https://cloud.githubusercontent.com/assets/8915092/9326577/b3cc8130-4592-11e5-8d52-b70508f84a8f.jpg)
![photo on 18-08-2015 at 10 19](https://cloud.githubusercontent.com/assets/8915092/9326580/b728b1dc-4592-11e5-83d0-92d0778595a9.jpg)
![photo on 18-08-2015 at 10 19 2](https://cloud.githubusercontent.com/assets/8915092/9326587/b9fdac14-4592-11e5

[2015-08-18 09:26] tsop14 commented on #91
@iteles

![fullsizerender](https://cloud.githubusercontent.com/assets/8484757/9326687/8632a550-4593-11e5-8d37-09775031b829.jpg)

[2015-08-18 09:33] tsop14 commented on #91
@iteles
![screen shot 2015-08-18 at 10 32 32](https://cloud.githubusercontent.com/assets/8484757/9326812/7b3dfa7c-4594-11e5-97c1-2790f9be94da.png)

Snooze.
Shading.

[2015-08-18 10:42] nikhilaravi opened #92 "Add prioritisation of issues using tap gestures"
Use tap gestures to get people to go through their issues and add priority labels v quickly:

e.g. Priority 1 = low, Priority 2 = high,

tap once/single click = Priority 1
tap twice/double click = Priority 2
etc

@nelsonic suggested it should take more effort to create high priority items

This will enable ordering of issues v quickly without manually adding labels to each one.

Any other ideas??

[2015-08-18 11:16] nelsonic opened #93 "What should the order of priority labels be? (is P1 highest priority or P5?)"
So, we've agreed that **_Tudo**_'s most useful **MVP** feature is prioritising issues.
But we haven't yet agreed what he **_highest**_ priority label should be.

We **_discussed**_ _recommending_ several levels of priority to people e.g:
 `Priority-1`(`P1`) >> `Priority-5` (`P5`)

But ... is `P1` the **_highest**_ priority or `P5` (when using a 5-level scale) ? @dwyl/summer

[2015-08-18 11:35] jackpandas opened #94 "Allow people to turn off repo owners as a preference in mobile?"
We are currently decided that the repo owner/name should be displayed to prevent confusion for people working on repos with the same name. For non-power users, should we allow them to see only repo names for a cleaner user interface?

[2015-08-18 12:22] nelsonic commented on #94
@jackpandas makes sense. Could the UI be _enhanced_ when there is more than one repo with the same or similar name on the page...?

[2015-08-18 13:21] beechware opened #95 "Drag and drop functionality to move issues to different priorities."
Drag and drop functionality to move issues to different priorities on main ui.

How: this could be done by dragging issues into priority buckets or tapping the priority buckets while holding down on the issue then simply letting go once the bucket tap has moved us to the relevant priority area `<div>`

(Alternatively changes to priority could be done with taps as per @nikhilaravi's suggestion).

W

[2015-08-18 13:29] beechware opened #96 "Raising low priority issues up to higher priority periodically and automatically"
This would be to stop Low priority (non-urgent) issues from being left and forgotten about.

E.g P5 moves to P4 after 24 hours (or however long) and so on and so forth.

[2015-08-18 13:50] beechware commented on #93
P1 = Defcon1!! Let's make it happen

[2015-08-18 13:51] iteles commented on #93
I'm a fan of Priority 1 (highest priority) to Priority 5.
For me, that means that 'things that will be worked on at a later date' or 'icebox' things, will all go down to 5 and be _out of my way_ when I'm actually working through things that need to be done.

[2015-08-18 13:51] jackpandas commented on #93
I would vote 1 as the highest priority

[2015-08-18 13:52] minaorangina commented on #93
1 > 5 :rotating_light:

[2015-08-18 13:57] tsop14 commented on #93
1 = highest priority

[2015-08-18 13:58] nikhilaravi commented on #95
@beechware really like this idea as a way to quickly sort issues/modify priority levels.

[2015-08-18 13:58] tsop14 opened #97 "Ordering of issues by anything other than priority number?"
Such by date issue opened, date assigned to us...

[2015-08-18 14:00] rjmk opened #98 "A/B testing link to github for issues"
Introspection is all well and good, but data is cheap and plentiful! Let's A/B test some wireframes with the link to the issue on github as (1) an arrow (2) as an octocat!

[2015-08-18 14:01] nikhilaravi opened #99 "Add a sticky priority bar across the top of the view"
I think that @beechware 's idea of creating a priority bar across the top of the page with the different priority buttons  is great. If the bar is sticky,  all the issues can be loaded onto a single page and the user can easily navigate between priority sections.

[2015-08-18 14:02] tsop14 opened #100 "How are the issues ranked within the priority buckets?"

[2015-08-18 14:02] FilWisher opened #101 "Should we have a view-configuration/settings pane?"
:dog: We could have a separate page for configuring what issues are visible. This could include:
- Assigned to:
  - [x] No-one
  - [x] Me
  - [x] Others
- Repositories
  - [x] _Repository A_
  - [x] _Repository B_

[2015-08-18 14:03] FilWisher commented on #101
This should be CHECKBOXES

[2015-08-18 14:03] tsop14 commented on #101
![timthumb php](https://cloud.githubusercontent.com/assets/8484757/9331974/5004a1e6-45ba-11e5-8782-f0112d0a1f10.jpg)

[2015-08-18 14:07] iteles opened #102 "Include the first line of the latest comment/activity for each issue in the list of issues?"
Is it useful to be able to see _what_ the latest activity for an issue has been from the _list_ view?

[2015-08-18 14:07] tsop14 commented on #99
Sounds good, also with "Priority undefined" for unsorted issues.

[2015-08-18 14:07] jackpandas commented on #94
@nelsonic I think from the offline discussion, people wanted to be able to see the organisations as default in the main view

[2015-08-18 14:07] FilWisher opened #103 "Should the issues display the activity level of an issue?"
For example, we could have activity level 1/10 - 10/10. This could be based on a statistic derived from number of comments, how recent the comments are, how many people are involved, &c.

I will find out how others calculate similar data.

[2015-08-18 14:08] tsop14 commented on #92
Where would they click? Eventually clicking on an issue will open up its single page in app - could this be confusing? But good idea if there was a clear place to click :dancer:

[2015-08-18 14:09] beechware opened #104 "Having issues coloured with their priority colour."
Having the issue list item coloured with their priority colour.
Later we decided to show the colour as a block (rectangle) on the left hand side. This is for readability.

However I think a light tint over the `<li>` item as well as the block wouldn't effect readability and would still make issues easier and more enjoyable to search through.

[2015-08-18 14:09] iteles commented on #98
Definitely agree we should A/B test this :+1: :+1:

In the interest of 'future proofing' and operating under an assumption that people will eventually be able to both _see_ and _create_ individual issues in _**tudo**_, I would stick with the arrow.

[2015-08-18 14:10] minaorangina opened #105 "Sidebar for detailed filtering/configuration?"
Easy to get to, but 100% non-intrusive and making best use of precious phone real estate.

**Completely** hidden away, yet not dissimilar to:
![screen shot 2015-08-18 at 15 09 18](https://cloud.githubusercontent.com/assets/8915092/9332155/373ee9f4-45bb-11e5-87fe-bd41ccbc0bec.png)

[2015-08-18 14:11] beechware commented on #104
Having the issue list item coloured with their priority colour.
Later we decided to show the colour as a block (rectangle) on the left hand side. This is for readability.

However I think a light tint over the li item as well as the block wouldn't effect readility and would still make issues easier and more enjoyable to search through.

[2015-08-18 14:11] tsop14 commented on #96
It is good to try to prevent issues being left forever but it might be confusing if we can't tell what was manually asigned by the user and what was an automatic change.

[2015-08-18 14:15] rjmk opened #106 "Information to go in an issue row"
| Left | Middle | Right |
| :-- | :-: | --: |
| Colour Bar | [ORG/REPO NAME] Title of repo | to issue arrow |
| Colour Bar | Activity metric | to issue arrow |

[2015-08-18 14:15] FilWisher opened #107 "Create minimum html & css version of the issue list"
We should begin with a minimal html layout with css to use as a base for developing before functionality.

[2015-08-18 14:15] rjmk commented on #106
Look this is totally correct markdown. Github is being difficult

[2015-08-18 14:32] tsop14 commented on #107
Re. CSS

http://colorbrewer2.org/

This has colorblind safe option. Good for picking colour scheme for priority levels.

[2015-08-18 15:03] nelsonic opened #108 "Merge Conflicts from 2.0.0 > Master"
<img width="1152" alt="merge-confilcts" src="https://cloud.githubusercontent.com/assets/194400/9333619/9cfa9390-45c2-11e5-950e-70ec25ae8444.png">

[2015-08-18 15:50] nelsonic commented on #104
@beechware agree this would be a great UI element, we are hoping to A/B test UI features so we should add this to the backlog once MVP is out! relates to: #98

[2015-08-18 15:52] nelsonic commented on #98
So excited about A/B testing UI! :balloon:

[2015-08-18 15:54] nelsonic commented on #92
Agreed with @tsop14 Tap gestures need to have a `click` fallback. but love the idea of a simple interaction.
relates to: #93

[2015-08-18 15:54] nelsonic commented on #94
Oh...

[2015-08-18 15:56] nelsonic commented on #99
@beechware do you have a sketch of this idea? (_sounds amaze_!)

[2015-08-18 16:00] iteles opened #109 "Investigate whether we should zero margin/padding in :before & :after"
Currently we've added some zeroing of margins and padding into the `*, *:before, *:after {}` block, in the form of:

[code]

Is this best practice or should they be standalone against specific selectors?

[2015-08-18 16:16] #82 closed, assigned to nobody

[2015-08-18 16:16] #83 closed, assigned to nobody

[2015-08-18 16:16] #84 closed, assigned to nobody

[2015-08-18 16:16] #86 closed, assigned to nelsonic

[2015-08-18 16:16] #87 closed, assigned to nobody

[2015-08-18 20:01] iteles commented on #107
@tsop14 Top find! :+1:

[2015-08-18 20:05] iteles commented on #47
Closing this as superseded by the UI sketches in #91 and the issue in #107

[2015-08-18 20:05] #47 closed, assigned to iteles

[2015-08-18 20:47] iteles commented on #91
We (@beechware, @FilWisher, @rjmk, @nikhilaravi, @minaorangina, @jackpandas, @nelsonic, @tsop14 and @iteles) got together to put the best of these ideas into an MVP sketch we could work on starting _today_.

![img_4902](https://cloud.githubusercontent.com/assets/4185328/9342286/c9e8439a-45f2-11e5-968b-9651a9aae470.JPG)

We decided the most valuable thing we could do to improve on the [existing git

[2015-08-18 20:56] iteles commented on #108
:+1: Done and merged into master (thanks @nikhilaravi!)

[2015-08-18 20:56] #108 closed, assigned to nelsonic

[2015-08-18 21:01] iteles commented on #94
@nelsonic The conversation that was had ended up with people wanting to quickly differentiate between issues that were part of one organisation vs another - the majority preference was to have [org name/repo name] as the standard in the main view.

The idea of opening this issue was to capture that the discussion was had and that we should be testing this in future as opinions beyond the room migh

[2015-08-18 21:02] iteles commented on #99
@nelsonic It's in our [main sketch for today](https://github.com/dwyl/tudo/issues/91#issuecomment-132346200) :+1:

[2015-08-18 21:05] iteles commented on #92
:+1: I think that ultimately this will be resolved by whether there are other interactions that need to happen more often (daily for example) that also need to happen quickly. Love this idea though <3

[2015-08-18 21:09] iteles commented on #106
@rjmk I fixed your totally correct markdown. :stuck_out_tongue_closed_eyes:  #yourewelcome

<img width="801" alt="screen shot 2015-08-18 at 22 08 57" src="https://cloud.githubusercontent.com/assets/4185328/9342797/cf4e4156-45f5-11e5-927e-b54ce0a23a4d.png">

[2015-08-18 21:11] iteles commented on #106
Links to https://github.com/dwyl/tudo/issues/103 on **activity metrics**.

[2015-08-18 21:11] iteles commented on #106
https://github.com/dwyl/tudo/commit/06b2359123f9edd9d5c3fea8c8d2788bd8fc97f2 creates the basic HTML structure according to this

[2015-08-18 21:12] iteles commented on #104
I think we're going to need an A/B testing milestone/label at this rate :stuck_out_tongue:

[2015-08-18 21:14] iteles commented on #105
@minaorangina Is this issue different to #101?

[2015-08-18 21:17] iteles commented on #97
:+1: To record the verbal discussion **dwyl/team-beach** had around this issue after it was raised, we agreed our MVP would be based on prioritisation and we'd add other features in later.

Thanks for recording it as an issue :blush: :+1:

[2015-08-18 21:18] iteles commented on #95
:+1:

[2015-08-19 07:47] rjmk commented on #106
@iteles Thanks! What did you change? I can't see the difference

[2015-08-19 08:34] iteles commented on #106
@rjmk You need more than one hyphen in the 2nd line blocks for it to work :wink:

[2015-08-19 08:47] iteles commented on #100
Good question :+1:
How about by latest activity first?

[2015-08-19 09:23] iteles commented on #45
HTML structures superseded by UI sketches in #91 (same base) and the issue #107

[2015-08-19 09:26] iteles commented on #45
Currently being done by/assigned to **[dwyl/team-beach]**.

[2015-08-19 11:03] rjmk opened #111 "Where should we call server.stop in our tests?"
Do we need to call `server.stop` per test file in our tests? Should we be stopping before or after `t.end`?

[2015-08-19 11:16] nelsonic commented on #111
I favour calling `server.stop(cb)` each time `server.inject` is invoked so that we can still `test.only` an _individual test_

and I _suspect_ we have to call `t.end()` **_after**_ `server.stop(cb)` because `t.end()` signals to tape that there's nothing more to execute ... but I have not investigated this.

@rjmk are you _investigating_? :question:

[2015-08-19 11:18] nelsonic opened #112 "Tidy Up Time? (can we prune orphan branches?)"
![tudo-branches-stale](https://cloud.githubusercontent.com/assets/194400/9354871/f647784c-466b-11e5-8994-6fa9e6e55969.png)

At present we have **_5 Orphan Branches**_ in the repo: https://github.com/dwyl/tudo/branches/all
Should we _retire_ them?

[2015-08-19 11:29] rjmk opened #113 "Can we have the head and doctype of a page inside a riot tag and be server-side rendered?"
As I type this, I feel fairly certain the answer is no.

[2015-08-19 13:04] iteles commented on #113
@rjmk Do you want to mention why we would want to do this? :blush:

[2015-08-19 13:42] tsop14 commented on #112
The db-to-render branch has mock data from GitHub api, do we have this elsewhere? Good idea to prune. :palm_tree:

[2015-08-19 13:44] nikhilaravi opened #114 "Why are we using codeship and travis-cl?"
From what I understand they both run all the tests and can automatically deploy the app. Is there any advantage of having them both?

[2015-08-19 13:44] tsop14 commented on #113
@dwyl/summer worth taking a screen shot of what happened when we tried?

[2015-08-19 13:55] nelsonic opened #115 "Codeship Build Failing (But Passes on Travis-CI!!)"
https://codeship.com/projects/92410/builds/7719494
![codeship-fail](https://cloud.githubusercontent.com/assets/194400/9358123/63e5b38a-4682-11e5-9f3f-6a878edc56e6.png)

[2015-08-19 14:05] rjmk opened #116 "Asynchronous calls in a forEach"
We were discussing performance problems and mentioned going through the [issues in a forEach loop](https://github.com/dwyl/tudo/blob/master/lib/get_issues.js). I ended the conversation unsure whether the performance issue was just from registering asynchronous callbacks in a loop (and waiting for the slowest response) or if the forEach is somehow making the asynchronous calls synchronous.

I assum

[2015-08-19 14:30] FilWisher opened #117 "main.css should be served from the public folder"
At the moment, prefix.html links a style sheet from "/views/main.css" but main.css is a static file and, as such, should be served from /public. The link should source it from just "/main.css" or even "main.css".

[2015-08-19 14:41] FilWisher opened #118 "On login page, header and footer don't exist so 'undefined' appears."
header.html and footer.html have been deleted. This is making 'undefined' appear at the top and bottom of the login page when visiting '/'

[2015-08-19 14:42] beechware commented on #118
![Login page no header and footer](https://cloud.githubusercontent.com/assets/6025734/9359401/dab47f40-4688-11e5-9e72-03ba1d504d82.png)

[2015-08-19 15:18] FilWisher opened #119 "Only one priority level exists. We should be iterating and showing multiple"
Create an each={x} attribute so that all priority levels are displayed

[2015-08-19 15:20] nelsonic commented on #115
This issue is _NOT_ closed/fixed its very much still a probrem!
Just tweeted @codeship https://twitter.com/nelsonic/status/634018849504010240 requesting help.
Hopefully @flomotlik and/or @jschley will help us debug this.

To recap:

The test is checking for the occurrence of a string in the response of an http request:
This works on localhost and Travis-CI https://travis-ci.org/dwyl/tudo/builds/76

[2015-08-19 15:25] rjmk opened #120 "Should empty priority levels be displayed?"
Do we want the priority line to appear for every level even if there are no issues inside it?

[2015-08-19 15:27] iteles opened #121 "'Drivers' to prepare before driving: read the readme.md"
If you'd like to work on this project, please read the readme.md to understand the prep that needs to be done (mainly `npm i` and setting up `config.env`)

And ask me if you need access to the environment variables :blush:

@dwyl/summer

[2015-08-19 15:57] iteles commented on #120
I would vote **no**. No point in having empty priority levels cluttering up the screen.

[2015-08-19 16:10] iteles commented on #117
Fixed in https://github.com/dwyl/tudo/pull/110 by **[dwyl/team-beach]**.

[2015-08-19 16:10] #117 closed, assigned to nobody

[2015-08-19 16:18] iteles commented on #118
Quick fix in root route `/`,

[code]

to

[code]

[2015-08-19 17:31] iteles commented on #119
Fixed in PR #122, though currently with hard coded data. .

 @FilWisher Do we close this issue once this PR is merged in or do we wait until we have the functionality working with non hardcoded data?

[2015-08-19 17:36] iteles commented on #106
@rjmk What conditions are needed for this to be closed?

[2015-08-19 19:05] iteles commented on #4
An 'idea' or 'feature' label is almost a _necessity_ at this point...

[2015-08-19 19:06] iteles commented on #5
@besarthoxhaj From what I hear, you're pretty busy these days! Should we re-assign this?

[2015-08-19 19:09] iteles commented on #48
A toggle is no longer part of the current MVP as we've decided that the MVP will just link straight through to the issues on github :+1: _Minimum_ indeed.

[2015-08-19 19:09] #48 closed, assigned to msmichellegar

[2015-08-19 19:21] iteles commented on #54
Closing this as it doesn't appear to be an issue for the current iteration (so odd)! May re-open this if it re-occurs.

(and let's not worry, this is **_not_** the final styling)

<img width="342" alt="All border bottoms show up in Chrome emulator view" src="https://cloud.githubusercontent.com/assets/4185328/9366518/c9bdb446-46af-11e5-8645-989f75df0728.png">

[2015-08-19 19:22] #54 closed, assigned to msmichellegar

[2015-08-19 19:27] iteles commented on #56
Done for [example issues](https://github.com/dwyl/tudo/blob/1935e7b6366adea3932ba444317b74a21cafd963/example_issues.json) (thanks @nofootnotes!), but not yet for [example of _**basic**_ issue](https://github.com/dwyl/tudo/blob/32f9c60fa987369f769fc99458abc149dd648cd3/example_of_basic_issue.json).

@jrans Should we re-assign this?

[2015-08-19 19:29] iteles commented on #1
The August group of [#dwylsummer](https://github.com/dwyl/summer-2015) also agreed prioritisation was  the first problem to solve #91 :+1:

[2015-08-19 19:32] iteles commented on #35
Unassigning as I think this needs further discussion as a group!

[2015-08-19 19:33] iteles commented on #32
This was assigned to me as it requires A/B testing, but seeing as we're A/B testing _all_ of what we're doing, I think this is a mis-leading assignment. A label would be better!

[2015-08-19 19:34] iteles commented on #31
TBC whether this will go ahead in the MVP.

[2015-08-19 19:35] iteles commented on #21
Unassigned @jrans as @Danwhy provided the answer above (thanks!).
Issue not closed as not yet incorporated.

[2015-08-19 19:36] iteles commented on #28
This will likely be picked up by @dwyl/summer for now.

[2015-08-19 19:40] iteles commented on #30
@jrans I'm guessing you no longer have time for this research? :blush:

[2015-08-19 19:46] #57 closed, assigned to benjaminlees

[2015-08-19 19:47] iteles commented on #58
This is already being captured in #45 and being worked on in the August group of [#dwylsummer](https://github.com/dwyl/summer-2015).

[2015-08-19 19:47] #58 closed, assigned to nobody

[2015-08-19 19:49] iteles commented on #76
Removing some labels as they were added just to see what would happen visually when an issue has a lot of labels!

[2015-08-19 19:51] iteles commented on #77
Re-writing of `main.css` happened in commit https://github.com/dwyl/tudo/commit/6e278ab27bdb8f6b61d0a1a82bf5ca1a93c3f4c1 with correct indentation by @dwyl/summer

[2015-08-19 19:51] #77 closed, assigned to nobody

[2015-08-19 19:55] iteles commented on #81
Were you thinking for anything in particular?
I'm always keen to stay away from clogging up inboxes - github does enough of that. But if people could set up email alerts personalised to them - i.e. Only get alerts that would be useful to them and not superfluous - we could consider this (though not encourage it).

[2015-08-19 19:55] #89 closed, assigned to nobody

[2015-08-19 19:56] iteles commented on #89
Merged in now. :+1:

[2015-08-19 19:59] nelsonic opened #123 "Add CodeCov to Repo to track Coverage for all Commits?"
https://codecov.io/guide

[code]

[2015-08-19 20:09] iteles commented on #107
:+1: Closed by PR https://github.com/dwyl/tudo/pull/110

[2015-08-19 20:09] #107 closed, assigned to nobody

[2015-08-19 20:30] rjmk commented on #120
I agree, @iteles

[2015-08-19 21:02] rjmk commented on #106
I would argue that it is either already ready to be closed or should be closed when dynamically loaded tags have these rendering correctly.

[2015-08-20 08:36] rjmk opened #124 "We are only showing one issue per priority level. Iterate through the issues in each level"
Related to #119

[2015-08-20 09:52] jackpandas opened #125 "Priority tags are non-exclusive"
Github tags do not exclude one another, therefore someone could rate an issue as priority 1-5. This will likely cause some odd behaviour in an app designed to sort by single priorities. If this can't be fixed on github, how can it be fixed in code?

[2015-08-20 09:55] nelsonic opened #126 "Can we Concierge this By Manually Adding Priorities to all the Issues in dwyl/tudo?"
Manually work through adding priority

See: http://ibuildmvps.com/blog/the-concierge-minimum-viable-product-maximizes-customer-learning

[2015-08-20 09:56] tsop14 opened #127 "Re. label priority-n, is this confusing as '-' looks like a negative sign?"

[2015-08-20 10:34] tsop14 opened #128 "Transforming raw data into priority-stratified data"
In https://github.com/dwyl/tudo/commit/941d19e566c712b0ed5ff6fe6711ab1f047dc924 we created real data using GitHub scraper.

For the MVP issues should be grouped into priority levels.

In the future we might want to sort by other means. #97

[2015-08-20 11:08] rjmk opened #129 "Chalk is a dev-dependency"
It shouldn't be! What numpty put that in? (@rjmk I'm looking at you)

[2015-08-20 11:34] besarthoxhaj commented on #5
Hi guys!
Really sorry for my absence. @iteles as you said I'm not sure if I can give the right amount of time needed for the task. Feel free to assign someone else:)

[2015-08-20 11:36] nelsonic commented on #129
@rjmk or who ever is driving next (@jackpandas?), version bump [GS](https://www.npmjs.com/package/github-scraper) to **Version** `3.0.21` and **_remove Chalk**_ from Tudo's dependencies.

[2015-08-20 14:53] jrans commented on #30
@iteles yes! Sorry!

[2015-08-20 14:54] nelsonic commented on #30
**_Make [time](https://github.com/dwyl/time)**_! :wink:

[2015-08-20 14:57] jrans commented on #56
i think we should @iteles i think we should. Hope everything is going great!, really shoudl be keeping better track of my issues ...

[2015-08-20 16:25] iteles commented on #126
Done by the lovely **dwyl/summerers** @dwyl/summer earlier today :+1:
<img width="514" alt="all-issues-with-priorities" src="https://cloud.githubusercontent.com/assets/4185328/9388906/20a01104-4760-11e5-84de-a6adfce670f5.png">

[2015-08-20 16:48] minaorangina opened #130 "should 'unprioritised' be represented with a question mark?"
This might cause issues if a user wants to get to unprioritised issues by typing a '?' in the url.

[2015-08-20 16:55] nelsonic opened #131 "Given that P? will have to be url-encoded to p%3F .. should we use "PU" for Priority Unestimated/Undefined instead?"
For issues that do not have a priority label P? was proposed as a label.

@minaorangina just asked a _very_ good question during our afternoon coding session:

This observation is absolutely correct, so as a result I propose that we use `priority-undefined` or the short form `PU` (which is _url-safe_) in the mobile view instead.

This has a dual meaning which I quite like;
"_Un-prioritised issues

[2015-08-20 16:56] nelsonic commented on #130
It appears we have created two similar issues: #131 with a _suggested alternative_ :wink:
thanks for creating this issue @minaorangina :+1:

[2015-08-20 17:16] FilWisher opened #132 "Should we allow individuals to define their own priority levels?"
WE are predefining priority levels 1-5 and unprioritised. Do we want to allow users to decide for themselves?

[2015-08-20 17:46] rjmk commented on #132
I think this is not appropriate for the MVP

[2015-08-20 17:47] nelsonic commented on #81
GitHub does not give you fine-grained control over _which_ events to be notified for.
By contrast JIRA will let you know when any action is taken.
E.g. someone assigns the issue to themselves or unassigns.
Wouldn't you rather _know_ that someone on your remote-team has un-assigned themself from all their issues without finishing them...?

[2015-08-20 17:55] nelsonic commented on #130
I suggest we use `PU` as the label on the (Mobile) Client to indicate an issue the is "Priority Undefined".

[2015-08-20 18:04] nelsonic commented on #132
If someone _using_ the app votes on this issue we could add the functionality.
But I _hypothesise_ that **5 Levels** is already too many...
We will see once people start _using_ the app because we can get stats on which priorities get assigned. :+1:

[2015-08-20 18:15] nelsonic commented on #31
Milestones are a super useful way of grouping issues and our issues scraper is already sourcing this data for us: https://github.com/nelsonic/github-scraper/blob/2b1742606710c2cb2c08bdb5c3e8192d87ea57ae/lib/issues.js#L37-L40
So it will just be a matter of a person _using_ the app requests this feature so we can allocate time to building it. :+1:

[2015-08-20 18:18] nelsonic commented on #35
No discussion required. I'm building it _straight_ after I'm done with **_Hansel**_. :rocket:
This is the _single_ most important marketing "_gimmick_" available.
Our job is to make it _useful_ for the people so its a _no-brainer_ to include it in their repo readme.
So, if you want to help with something, help with coming up with compelling benefits to the repo-owner... :fire:

[2015-08-20 18:20] nelsonic commented on #4
@iteles please create the `idea` label with your choice of color. thanks. :+1:

[2015-08-20 18:31] iteles commented on #130
:+1:

[2015-08-20 18:34] iteles commented on #81
I think we're saying the same thing :+1:

[2015-08-20 18:36] iteles commented on #132
Agree with the above, certainly not an MVP feature and don't think it would be intelligent for people _to_ use more than 5 priority levels. Great to record this conversation though!

[2015-08-20 21:34] nelsonic commented on #125
If an issues has _multiple_ priority Labels applied to it we should take the highest priority.
The question is: should we inform people that the issue they are viewing has a split personality?

[2015-08-24 22:11] rjmk opened #133 "Rework the login page"
The authentication handler is serving the old page with the undefineds from #118. We also presumably don't want people to be asked to login as they complete the login process. (https://github.com/dwyl/tudo/blob/master/handlers/authentication_handler.js#L4-L7)

[2015-08-26 11:35] #116 closed, assigned to nobody

[2015-08-26 11:46] iteles commented on #116
@rjmk What was the conclusion for this issue? :blush:

[2015-08-27 13:09] #118 closed, assigned to iteles

[2015-08-27 13:09] #129 closed, assigned to jackpandas

[2015-08-27 13:55] nelsonic opened #136 "Write GitHub auth callback function for receiving the OAuth token"
We have the "login with github" button https://github.com/dwyl/tudo/blob/552f9d161e8a647b37f3c3032efb3642aa587222/views/login.tag#L9
which takes the person to GitHub and for them to authenticate, but we don't have the callback handler to extract the OAuth Token that gets returned.
This function can probably be written in fewer than 10 lines of code and will take less than hour including tests.

[2015-08-27 13:56] nelsonic commented on #136
The test we need to write is simply to store a token in a database and then use it to issue a request to GitHub API. we don't need to actually test the OAuth.

[2015-08-27 14:06] rjmk commented on #111
I'm for calling `server.stop(cb)` in each test. I'm even more for having a separate bootstrap file from the server file so we know which tests are with an actively running server and which aren't and don't need to remember `server.stop(cb)`.

`t.end()` appears to only be important for _assertions_.

[2015-08-27 14:09] rjmk commented on #112
I'm all for the prune; nothing looks particularly relevant to the current code.

[2015-08-27 14:37] nelsonic opened #137 "Tidy up redis connection in lib/redis_config.js"
See: https://github.com/dwyl/tudo/blob/e8a54f2b748396e560911b34efd49ed91de94f07/lib/redis_config.js#L3
This should url.parse(d) in situ.

[2015-08-27 14:43] nelsonic commented on #137
Remove references to `TEST_REDISCLOUD_URL` as we are _always_ using a Test instance during dev/test...
<img width="894" alt="screen shot 2015-08-27 at 15 39 54" src="https://cloud.githubusercontent.com/assets/194400/9523533/625baae6-4cd2-11e5-8a07-15e35132795d.png">

[2015-08-27 21:18] nelsonic opened #138 "Travis-CI not Cooperating Because of JSON format ..."
https://travis-ci.org/dwyl/tudo/builds/77581075#L329
(JSON.parse error...)

Fixed by escaping all quotes: http://repl.it/BEHE/1

[code]

[2015-08-28 09:26] #136 closed, assigned to nelsonic

[2015-08-28 09:33] nelsonic commented on #136
For the record @rjmk had already done 98% of the work for this.
![legen dary](http://i.imgur.com/uzmljnl.jpg)

[2015-09-04 22:24] iteles opened #139 "1 click standardisation of labels across all repos in an organisation"
As an [organization owner](https://github.com/blog/674-introducing-organizations) I'd like to be able to **standardise all the labels across all of my organization's repos quickly and easily** so I don't have to manually create that level of consistency.

Of course we need to consider:
- Existing labels that do not form part of the 'standardised set' (I would vote these are just left alone for now

[2015-09-04 22:25] nelsonic commented on #139
This is going to be sweet! :+1:

[2015-09-08 17:05] iteles commented on #79
Opened a repo for this under https://github.com/iteles/visual-regression-testing which will be moved to dwyl when it's a learning resource rather than a catch-all for research.

[2015-09-08 18:06] nelsonic commented on #79
Exciting! :wink:

[2015-09-12 00:21] iteles opened #140 "Define what priority labels mean for *dwyl*"
So we can start using the priority labels (1-5) across our repos.

[2015-09-14 15:35] iteles opened #141 "Update and clarify the readme"
- [x] Clarify steps on running the app  (linked to #121)
- [x] Update with the wireframes/sketches from #dwylsummer2
- [x] Remove references to env.json
- [ ] Clarify **GitHub API** title

[2015-09-14 15:38] iteles commented on #131
I'm not a fan of `PU`s double meaning (seems a little unnecessary to me) but prefer this to `P?`
Suggest we go with `PU` as a starting point and test it!

Any more thoughts?

[2015-09-14 17:03] iteles commented on #140
Here's a start, completely up for discussion:
- **Priority 1:** STOP. This is preventing **EVERYONE** from using the app or core functionality is breaking (our app is offline, people can't log in/view their issues). Do not do **anything** until this is fixed.
- **Priority 2:**  Issue is in the **core functionality** or is affecting 60% or more of people using the app
- **Priority 3:** Issue is non

[2015-09-15 06:38] nelsonic opened #142 "Prioritise GitHub issues across All Projects in an Org (Single View)"
What if there was a single view that let people prioritise their issues across _all_ the repositories they have access to? Would anyone _else_ find this useful? What would the interface (UI/UX) look/feel like?

[2015-09-15 10:33] NataliaLKB commented on #142
I would definitely find this useful!!! :+1:

[2015-10-10 07:35] nelsonic opened #143 "UI?"
Please evaluate: http://www.invisionapp.com/do

[2015-10-10 09:38] iteles commented on #143
This is the starting point I had on my computer plus a free trial of sketch when we discussed that there were other areas of focus. 👍🏻

[2015-11-01 22:37] nelsonic commented on #30
This is _probably_ pretty **_#obviously**_ to _everyone_ else...
However I've only just _clocked_ the fact that if _too many_ Labels are created they end up _cluttering_ the UI quite badly... [**_Milestones**_](https://github.com/dwyl/dwyl.github.io/milestones/WebSummit) are _betterer_ because they disappear from the UI once they are closed.

[2015-11-01 22:40] iteles commented on #30
:+1: #bigfan

[2015-11-08 19:05] iteles commented on #140
@nelsonic Any thoughts on this? I'm happy to go with something completely different but I'd like to roll out the priority labels to all dwyl's repos and it would be good if we could define a reasonably solid _starting point_ which we can adapt as we use them.

[2015-11-08 19:07] nelsonic commented on #140
Are you going to "_roll out_" the Labels using `code` or _manually_...?

[2015-11-08 19:11] iteles commented on #140
I mentioned a while ago that it would be a good thing to write a little module for. We can't be the only organisation with this issue...!

Either way I'm very much missing the labels on our ongoing projects.

[2015-11-12 15:13] nelsonic commented on #32
@iteles I'm creating the labels for _current_ project on https://github.com/FAC-GM/app/labels

using Upper Case **T** in the Label to denote Time and **_lower case**_ **m** or **h** to denote _minutes_ or _hours_. any _objections_? (_you can always change these later ... they aren't set in stone._)

[2015-11-23 19:59] nelsonic commented on #133
@rjmk agreed. do you think https://github.com/dwyl/hapi-auth-github gets us _towards_ solving this?
It has a `login_url()` method: https://github.com/dwyl/hapi-auth-github/blob/cb79699b327b04fb97bad7b002e18ca7f6b9b115/example/github_server.js#L29 that gives us the Login URL ...?

[2015-11-25 13:55] nelsonic commented on #111
Closing as we are calling `server.stop(t.end);`

[2015-11-25 13:55] #111 closed, assigned to rjmk

[2015-11-26 21:44] iteles commented on #65
http://blog.cloudfour.com/seriously-dont-use-icon-fonts/

[2015-12-14 21:57] nelsonic opened #144 "Beginner Friendly List"
We need to create a `beginner-friendly` label in order to get on `this` list: https://github.com/MunGell/awesome-for-beginners#javascript

[2016-09-06 13:10] iteles opened #145 "Pull all linked issues together into one section"
As a team member, I would like to be able to see all the issues that are linked to the GH issue I'm looking at grouped into one place so that I don't have to keep scrolling around the issue to see them (bonus points for showing the `technical` label next to them where relevant).

[2016-11-16 13:09] nelsonic commented on #1
![image](https://cloud.githubusercontent.com/assets/194400/20348536/dad9c4cc-abfd-11e6-81f4-840e054df032.png)

[2016-12-18 05:55] nelsonic opened #146 "help wanted label (mini project)"
`As` a member of the `dwyl` team/community
I `would like to have` a ***dashboard*** of ***all issues*** that have the `help wanted` **label** applied and are **_not_ assigned** to someone already
`so that` I can see where people need help.

GitHub has the _basic functionality_ to search for `label` across the org:
https://github.com/search?q=org%3Adwyl+is%3Aissue+is%3Aopen+label%3A%22help+wanted%2

[2016-12-18 20:32] Jbarget commented on #146
@nelsonic @des-des and I also have some boiler-plate code for this

https://github.com/Jbarget/oauth-example/blob/master/lib/server.js

As it stands:
- oAuth Github Login
- bare access_token being stored as a cookie
- making authenticated request for `/user`
- partially tested

Do you have any ideas re wireframes for MVP?

[2017-01-18 03:54] nelsonic commented on #146
Hi Justin! Really sorry I didn't reply when I first read this... the perils of getting distracted by family when you are reading GitHub notifications... 😩
Yes, kinda do have an idea, essentially we need to display the data in a table with sortable columns.

[2017-01-19 11:46] Jbarget commented on #146
no worries at all!

accoriding to your screenshot above:
![screen shot 2017-01-19 at 11 43 29](https://cloud.githubusercontent.com/assets/11725595/22105568/837b56ac-de3c-11e6-9abb-d32c088a9f77.png)

I *think* that thats not possible call to the github API ie. theres no option to list out all issues within an organisation. You can for a repository though.

So it might need to be something like:
- C

[2017-01-19 13:37] nelsonic commented on #146
Yeah, I _suspect_ you are _correct_. (_can't call GitHub REST API with a specific query for a label..._)
But this mini-project is part of a _larger_ project to extract _all_ issues across all repositories.
Then we can _filter_ the `help wanted` and display them in a _useful_ format.
Ultimately our objective is to _visualise_ all the `help wanted` across the organisation so that when people ask us:

[2017-02-06 20:17] SimonLab commented on #146
So to recap and to check I understand the structure of this project:
this project can be split into two smaller projects:
- A backup system where all the issues of an organisation are saved in our own database (lambda? do we need a UI?)
- An API + UI to query directly our saved issues (instead of using the Github API)  and see specific issues ("help-wanted" and other filters)

@nelsonic is this ri

[2017-02-07 06:55] nelsonic commented on #146
Hi @SimonLab & @Jbarget,
Yes, there are _two_ distinct "_parts_" to this work.
The "_Architecture_" for the "app" is quite simple:
![tudo-app-architecture](https://cloud.githubusercontent.com/assets/194400/22680836/2056a200-ed02-11e6-8d66-61f8d10000b3.JPG "Click to Enlarge :-D (sounds like a spam email... lol!)")

We need to "_white board_" the process. (_when do you have time on Wednesday?_)
I wo

[2017-02-07 10:44] SimonLab commented on #146
Wednesday afternoon is good for me, @Danwhy are you interested too?

[2017-02-07 10:45] Jbarget commented on #146
@SimonLab nope i havent made any headway with this

[2017-02-07 11:05] jackcarlisle commented on #146
I'd be keen to work on this!

[2017-02-07 11:25] nelsonic commented on #146
Sweet Y'all! 🍭  (_**great** to hear there are smart people **interested** in making DWYL - and other orgs that use GitHub for issue/project tracking - a **well-oiled-machine**!!_)

We can _significantly_ speed up our "_workflow_" and teamwork with this.
Just by:
+ having a _faster_ caching
+ hitting the GitHub API _after_ the page loads
+ updating the content in response to any new content returne

[2017-02-07 15:22] ghost commented on #142
This is basically what I want

[2017-02-07 16:00] samhstn commented on #146
I can see this project already has received enough interest from some genii, but if there's a space going, I'd love to help out.

[2017-02-07 17:15] jay-meister commented on #146
I am with @shouston3 on that. Sounds like a fun project!

[2017-02-12 21:21] nelsonic commented on #115
won't be an issue when we migrate to using Phoenix. closing.

[2017-02-12 21:21] #115 closed, assigned to nelsonic

[2017-02-12 21:22] nelsonic commented on #138
Phoenix will solve this. thanks Phoenix. 👍

[2017-02-12 21:22] #138 closed, assigned to nelsonic

[2017-02-23 16:11] iteles commented on #146
Lots of interest, but no one has claimed it yet...

[2017-02-23 17:02] iteles commented on #142
https://github.com/blog/2272-introducing-projects-for-organizations Exists but isn't very good *at all*.

[2017-02-23 17:26] jackcarlisle commented on #146
<img width="490" alt="screen shot 2017-02-23 at 17 17 39" src="https://cloud.githubusercontent.com/assets/12450298/23270726/ba13eb4a-f9ec-11e6-8ff6-19d9a3241838.png">

@iteles All jokes aside, it there a process for claiming a dwyl project? Or is a selection made based on the people who have shown interest? Or should we just begin working on it?

[2017-02-23 18:16] ghost commented on #142
Yeah not a fan...need to look into waffle 🥞

[2017-02-23 18:22] des-des commented on #146
Yeah I'm down

[2017-02-27 08:28] Jbarget commented on #146
@des-des and I are keen to take this on while we're in Nazareth. Eoin and I are both without projects at the moment and would be keen to take this on, would you be ok with that?

We have an idea of next steps but want to wait for approval :)

[2017-02-27 10:02] nelsonic commented on #146
@Jbarget & @des-des great! 🎉
how comfortable are you with "PETE" Stack? 🤔
https://github.com/dwyl/technology-stack#the-pete-stack

[2017-02-27 10:17] Jbarget commented on #146
@des-des has some Elm in his pocket, I've touched on it. In terms of Elixir/Pheonix I've been going through Udemy's elixir/pheonix course and seems like there are specific sections of that which link directly to the architecture above.

We were thinking about doing a day of unpaid research into the stack before starting (could be today/tomorrow?)

[2017-02-27 10:21] jackcarlisle commented on #146
@Jbarget I'd recommend [this book](https://www.amazon.co.uk/Programming-Phoenix-Productive-Reliable-Fast/dp/1680501453) for getting started with Phoenix if you can get your hands on one.

A couple of copies have been floating around Quiet Space and it's what I've found to be the most useful. I've also done that Udemy course but it doesn't cover a lot of things that the book does in detail.

[2017-02-27 10:27] Jbarget commented on #146
@jackcarlisle ace, although i imagine the postal service to Nazareth might be a bit unreliable :)

[2017-02-27 11:08] jackcarlisle commented on #146
@Jbarget yeah that's what I thought!

[2017-02-27 12:41] Jbarget commented on #146
@nelsonic we're thinking next steps are:
- day of research into PETE stack
- agree scope for project
- time estimate for scope

[2017-02-27 12:44] nelsonic commented on #146
Jbarget learning "PETE" stack might take more than a day ... 🤔
(_although @jruts managed to learn from scratch, deploy his first app and [PR an learning update](https://github.com/dwyl/learn-phoenix-framework/pull/23)
in less than that ...  but he's an exception to most rules!_) 😉

See how you get on and report progress!
If you can help us improve any of the dwyl intro tutorials it would be _amaze

[2017-02-27 12:51] Jbarget commented on #146
sounds good, @des-des and I we're thinking about spending the rest of the day/tomorrow reading up on the PETE stack and scoping this. Before that we wanted to confirm that if scoping goes well, then you would be happy for us to move forward within the next few days.

Its fairly pressing as we're expecting both of our workloads to increase soon and would be good to make a start before then.

[2017-03-03 21:06] des-des commented on #146
@nelsonic @iteles yeah so me and @Jbarget have been been working through programming phoenix / Programming Elixir for the last 5 days. We are feeling confident we can take this on, but we are not sure what steps we need to take to claim this project...

If you want someone to build this we are happy to do it and will do a good job.

We have 2 questions:
  1. Do you have a budget for this project?

[2017-03-06 12:43] iteles commented on #146
@des-des @Jbarget The only steps required are:
+ Time estimate for the project (based on @nelsonic's checklist in the top comment in this issue)
  + Bonus level: Customisation to allow user to input any organisation
+ Get approval from @nelson or myself to go ahead (a conversation on rates will need to be had)
+ Build!

Remember that for a first pass, it just needs to be *functional* so that we ca

[2017-03-06 15:01] des-des commented on #146
## Time estimates

These estimates are for two people (so double them for work days)

We need:
+ [ ] a script or micro-service that uses OAuth to fetch all the issues in the Organisation
  + [ ] oauth 1 day
  * [ ] data fetching (build urls + manage pagination) ~2 day~ 1.5 day
  + [ ] Build Ecto models to represent gh data + migrations ~2 days~ 1 day
+ [ ] _Functional_ list views where `help wante

[2017-03-07 10:59] nelsonic commented on #146
@des-des thanks _very_ much for adding detail on your thoughts & time estimates.

Are your estimates for a single person or pair? 🤔
as @iteles says please agree rates and ensure your "freelancer agreement" is up-to-date before starting.

@SimonLab / @des-des / @jackcarlisle / @shouston3 / @Jbarget / @JMurphyWeb
I've split the _first_ part of this mini-project into a separate script,
please see: ht

[2017-03-07 12:50] des-des commented on #146
@nelsonic
Yeah, these estimates are for a pair (pairing).
Will talk to @iteles!

We think that for this project a db would be better than using the filesystem. Crawling the file system to find the most recent issues will add unnecessary complexity + ugliness to the application (ie I think your initial spec would work better than building on top of gh-backup!).

Maybe once we create this, we can re

[2017-03-09 10:19] nelsonic commented on #146
@des-des sorry for the confusion, I wasn't _suggesting_ that we should crawl FS for `tudo`.
I was suggesting that as an ***independently useful*** tool `github-backup` should save records to FS for easier access for people who don't want to automatically load their GitHub issues into a DB.

For _our_ purposes we could just fetch the records from GitHub REST API and `pipe` them into PSQL.

So why t

[2017-03-09 11:32] des-des commented on #146
@nelsonic I am with you. I agree that this would be useful to have.

Once we have build this, we can build this other thing quickly and painlessly!

[2017-03-11 17:01] des-des commented on #146
Here is a good example of using the gh api with elixir: https://github.com/edgurgel/tentacat

[2017-03-12 14:27] harrygfox commented on #146
@iteles

glad to be of service! 👍

[2017-03-15 09:57] des-des commented on #146
@iteles @nelsonic. Me and Justen have spent more time talking about this. We have adjusted our time estimates above.

[2017-03-15 11:16] iteles commented on #146
@des-des I've just messaged @Jbarget about this too 👍

[2017-03-15 13:11] des-des opened #147 "Github oauth"
As a developer I would like to be able to log via github so that the app can request the issues associated with my organisation.

[2017-03-15 13:14] des-des opened #148 "Fetch issue data from github"
As a user I would like the app to fetch the issues that have a help wanted label from github across all my organisations repositories so that it can be viewed in the browser.

[2017-03-15 13:15] des-des opened #149 "Persist issues to database"
As a user I would like the issue data to be saved in a database so that the app loads faster and works when github is down.

# Acceptance Criteria
- [x] Fetch repo data from Github
- [x] Fetch issue data from Github
- [x] Save data into database according to ecto schema #165

[2017-03-15 13:17] des-des opened #150 "View: all help wanted issues"
As a user I would like to be able to view all the issues of my organisation that has a help wanted label.

[2017-03-15 13:19] des-des opened #151 "View: Unassigned"
As a user I would like to view all help wanted issues that do not have an assignee.

[2017-03-15 13:21] des-des opened #152 "View: all assigned issues"
As a user I would like to see all assigned help wanted issues in my organisation so that I know what is being worked on by who.

[2017-03-16 07:37] nelsonic commented on #147
GitHub Auth working for dwylbot: https://github.com/dwyl/dwylbot/pull/27#issuecomment-286933419 (_in case you need a "head start"_) 👍

[2017-03-16 13:25] Jbarget opened #153 "Initial Setup"
Setting up

- README
- Travis
- Codecov
- Heroku
- Skeleton server with tests
- pre-commit hooks (to run tests)

[2017-03-17 07:01] nelsonic commented on #1
![image](https://cloud.githubusercontent.com/assets/194400/24032230/cc734b34-0ade-11e7-9a02-33aa0c832085.png)

[2017-03-17 07:14] nelsonic commented on #5
Phoenix Channels to the Rescue! ❤️

[2017-03-17 07:14] #5 closed, assigned to nobody

[2017-03-19 10:35] des-des commented on #147
@nelsonic Thnx! Yeah we started by slimming it down to create a minimal working example, next will make it fully featured and add tests!

[2017-03-21 16:19] des-des opened #155 "Next steps - github-backup"
Okay so me and @Jbarget put a scope together for this project and started work on this. See #146 or the elixir-mvp milestone.

We think @nelsonic wanted the other project to be done first. We misunderstood this but then got the go-ahead to start this project and got going. Our plan was to move ahead with this project, as we are happy with our scope and keen write some code. https://github.com/dwyl

[2017-03-21 16:20] des-des opened #156 "Can we replace old master"
As requested we are pushing our code to this repo.
This means there are two parallel histories happening. Are we good to delete the old master here, or should we continue development in another repo?

[2017-03-22 23:35] nelsonic commented on #156
@des-des merging your work into master will get what we need.
Deleting the "old" `master` will delete previous contribution which is _not_ what we want to do.
For an Open Source project to be successful it has to have _several_ contributors to _attract_ more contributions...

[2017-03-23 09:52] des-des commented on #156
Done!

[2017-03-26 14:33] #156 closed, assigned to nelsonic

[2017-03-29 16:26] Jbarget opened #160 "View specific code could be moved to views"
at the moment we've got [`name_from_auth`](https://github.com/dwyl/tudo/blob/authentication/web/models/user_from_auth.ex#L24-L36) in the `UserFromAuth` model, I remember when going through the phoenix book that usually the logic for rendering user information into a view is held in the view layer: `views/page_views.ex`

https://github.com/dwyl/learn-phoenix-framework/blob/master/rumbrella/apps/rum

[2017-03-29 16:40] des-des commented on #160
Hmm ill have a think about this tomorrow, when ill be looking to the auth branch again, but it sounds reasonable

[2017-03-30 13:43] des-des opened #162 "strange secret key base stuff happening"
ok so I had secret key base working in production a getting imported when my tests were running.
However the tests were failing saying it did not exist, replacing the key with a new one fixed the problem. Not sure what was happening put leaving an issue to report back if it happens again

[2017-03-31 11:29] Jbarget opened #164 "testing generated files"
@nelsonic do we need to be testing generated functionality?

eg:
https://github.com/dwyl/tudo/blob/master/web/gettext.ex
https://github.com/dwyl/tudo/blob/master/web/views/error_helpers.ex

its saying we have less than 60% coverage for these reasons

[2017-03-31 23:24] nelsonic commented on #164
@Jbarget I'd say no. because they are tested _indirectly_.

[2017-04-03 16:23] Jbarget opened #165 "Ecto Schema"
We need to decide what fields we want to store in our database

This is what we get back for each issue at the moment: https://developer.github.com/v3/issues/#response-1

@nelsonic are there any specific requirements for future iterations that we should be aware of, or is this just a prototype?

[2017-04-03 17:29] des-des commented on #165
I think lets work backwards from what we want to display.
Off the top of my head
for each issue: repo, repo link, assignee handles, labels, issue number, issue link, issue description.

I see the tables: issues, repos, users, labels.

[2017-04-03 17:43] #164 closed, assigned to nobody

[2017-04-05 03:04] nelsonic commented on #165
@Jbarget we cannot _predict_ future requirements that will _emerge_ from usage.
If _I_ was writing this I would ask a different question: can I write a function to take a sample (JSON) response from GitHub and convert each field into an Ecto (Phoenix Model) data type so we can "_store everything_"?

I _like_ the approach suggested by @des-des as it's "_minimalist_" and focusses on _current_ requir

[2017-04-05 08:53] Jbarget commented on #165
sounds good, just getting everything in place so regardless of who's working on the features we know what we're doing

[2017-04-05 08:54] Jbarget commented on #149
related to #165 (Postgres Schema)

[2017-04-08 14:07] des-des commented on #160
@Jbarget yeah I see what you are saying. I am not sure it is as clear cut as that.

We are taking that data that auberauth / gh gives our application, and extracting the information we are interested in, to put inside our session object https://github.com/dwyl/tudo/pull/163/files#diff-ddd7f4f3d995e8dba8f020ca22593eeeR21.
Ie we want a session to hold a username.

I think the idea here is to build o

[2017-05-05 14:51] Jbarget commented on #160
I get what you're saying and agree 👍

[2017-05-05 14:51] #160 closed, assigned to des-des

[2017-07-28 11:51] Cleop commented on #149
**As a** new team member joining the repo with a limited amount of time to work on it
**I want to** establish whether the benefits of postgres are high priority
**So that** I can decide whether to implement postgres or not in the time I have available.

Whilst the description of this issue is valid we want to understand how high a priority this issue is and whether the benefit it brings is substan

[2017-07-28 11:58] Cleop commented on #147
**As a** new team member joining the repo with a limited amount of time to work on it
**I want to** establish whether the benefits of OAuth are high priority
**So that** I can decide whether to implement OAuth or not in the time I have available.

Whilst the description of this issue is valid for private organisations or editing we want to understand how high a priority this issue is for dwyl and

[2017-07-28 12:04] Jbarget opened #166 "Cleaning Up Tudo Repo"
We're (myself, @shouston3 @Cleop) currently planning our sprint to work on the Elixir MVP and want to close as many "stale" issues as possible before starting to reduce the amount of "noise" associated with the issues.

There are currently 3 milestones open:
1. Elixir MVP (7 open issues)
2. Test Milestone - Please Don't Close (1 open issue)
3. Minimal Usable Product (16 open issues)

We're proposi

[2017-07-28 12:11] Cleop commented on #151
As a new team member joining the repo with a limited amount of time to work on it
I want to understand why filtering by assignee is a high priority (higher say than filtering by 'starter' or 'technical' labels
So that I can determine how to encourage users to use this functionality.

Whilst the description of this issue is valid we want to understand how high a priority this issue is and whether t

[2017-07-28 12:14] Cleop opened #167 "Check site accessibility"
As a disabled site user
I want to be able to use the Tudo list site easily
So that I can navigate and contribute effectively to the help-wanted issues.

- [ ] Check the accessibility of the site

[2017-07-28 13:54] Cleop opened #168 "Set up pre commit for linter"
- [x] Set up pre commit for linter

[2017-07-28 13:55] Cleop opened #169 "Deploy to heroku"
Deploy to heroku

[2017-07-28 13:57] Cleop opened #170 "Add dwyl favicon"
![image](https://user-images.githubusercontent.com/16775804/28720373-e7b166c2-73a4-11e7-9b59-1fee3c276652.png)

- [x] Add the same favicon as the one found on the dwyl site

[2017-07-28 13:59] Cleop opened #171 "Add 'Help Wanted' image/ title"
- [ ]  Source image as per @harrygfox 's suggestion saying 'help wanted' like a shop window
- [ ]  Style the image to fit/ position top left on desktop and mobile

Potential images:
<img src="https://user-images.githubusercontent.com/16775804/28725586-c8cbd75e-73b5-11e7-9efe-a4b3b75f55f9.png" width=400px />
From: http://www.msnbc.com/sites/msnbc/files/styles/ratio--3-2--830x553/public/articles/163

[2017-07-28 14:01] Cleop opened #172 "Add intro copy with links"
- [x]  Add intro copy from #188
- [x]  Position copy to the right of #171 'help wanted' title or stacked underneath on mobile
- [ ]  Style font according to dwyl-site conventions
- [x] Add and style links to other repos based on copy

[2017-07-28 14:02] Cleop opened #173 "Setup tachyons and remove bootstrap"
- [x] Add tachyons link:

`<link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>`
to the app or index.html page in the head.

- [x] Remove bootstrap (phoenix.css)

[2017-07-28 14:04] Cleop opened #174 "Research into API understanding of 'last updated'"
Research into API understanding of 'last updated' so that we can establish whether looking for updates will include updates to issues/ labels or just code.

[2017-07-28 14:05] Cleop opened #175 "Finalise get all repos query from existing branch"
Finalise get all repos query from existing branch to ensure it is understood, functioning, tested and documented as appropriate.

[2017-07-28 14:07] Jbarget commented on #149
Having discussed further Postgres would be beneficial for avoiding rate limiting from Github API (circa 255 requests to get all the information we need) and efficiently loading pages of `help-wanted` issues.

Proposed flow:

1. User arrives at Tudo homepage
2. Request sent off to postgres for page 1
3. User clicks for 2nd page of issues
4. Request sent off to postgres for page 2
etc...

This flow

[2017-07-28 14:08] Cleop opened #176 "Display 10 'help-wanted' issues (one page)"
Display 20 'help-wanted' issues (one page) based on data stored in db (#149).

Need to determine in what order repos should be displayed.

# Acceptance Criteria

- [x] Display 20 issues
- [x] Style in a table

[2017-07-28 14:13] des-des commented on #147
@Cleop I think one potential problem is rate limiting.

https://developer.github.com/v3/#rate-limiting

A single app can only make a limited number of api calls. Not sure if this will be a problem for v1.

Oauth will get around this problem, as the limits will be set per user, which means the total limit will scale with the number of users

[2017-07-28 14:52] samhstn commented on #147
It depends on how much we are able to store in postgres and how easy it will be to check if this data will need to be updated with as few number of requests as possible.

See [issue 146](https://github.com/dwyl/tudo/issues/149#issuecomment-318661428) on this

If we can detect wether there have been updates with just a couple of requests than just our 5000 requests per hour for all users should suf

[2017-07-28 15:41] samhstn commented on #174
In terms of sending one request to get information about all repos, using something like:

[code]
(we will have to make 3 requests like this with `page=2` and `?page=3` as additional query params to get all of the dwyl issues)

The [`updated_at`](https://developer.github.com/v3/repos/#list-contributors) property only reflects changes which have made in terms of code and is not affected by issue ch

[2017-07-28 15:46] samhstn opened #177 "Implement UI"
Based on this mockup: https://gomockingbird.com/projects/ypx5di4/4gXVnC

- [x] #173 Set up Tachyons
- [x] #170 Add dwyl favicon
- [x] #171 Add Help Wanted image
- [x] #172 Add intro copy with links
- [x]  #188 Write intro copy
- [x] #182 Add dwyl-site colours
- [x] #189 Pagination
- [x] #176 Table of issues
![screen shot 2017-07-28 at 16 47 16](https://user-images.githubusercontent.com/15983736/28

[2017-07-28 15:57] Jbarget opened #178 "Review current state of project"
repo has been untouched for a while, we're going to spend one pomodoro familiarising ourselves with the project

[2017-07-28 18:52] Jbarget opened #179 "Create Github Repo Webhooks"
Create webhooks to listen to all dwyl repos for issue activity:
https://developer.github.com/v3/repos/hooks/

[2017-07-28 18:53] Jbarget opened #180 "Create Github organisation webhooks"
Create webhooks for the dwyl organisation to listen for all newly create repos:
https://developer.github.com/v3/orgs/hooks/#create-a-hook

[2017-07-29 09:04] Jbarget opened #181 "Client Id not getting passed to request"
When logging in with Ueberauth the client Id is not being passed as a query param for the request to oAuth Github

[2017-07-29 09:04] Jbarget commented on #178
Everything seems to be working apart from : https://github.com/dwyl/tudo/issues/181

[2017-07-29 09:04] #178 closed, assigned to Jbarget, samhstn, Cleop

[2017-07-29 09:19] Cleop opened #182 "Add dwyl-site colors"
- [x] Add dwyl-site colors

[2017-07-29 09:35] Jbarget commented on #181
Environment variables weren't being set properly in the terminal tab.
Eg. we were running `source ./env.sh` in one tab, and then running `mix phoenix.server` in a different tab

NEEDS TO BE THE SAME TAB

[2017-07-29 09:35] #181 closed, assigned to Jbarget

[2017-07-29 09:37] iteles commented on #182
Can we get a mini style/colour guide in the readme with this too please? 🙏

[2017-07-29 10:13] #10 closed, assigned to jrans

[2017-07-29 10:15] Cleop commented on #174
Closing as no longer need to use the last_updated property as we'll be using the webhook api for updates.

[2017-07-29 10:15] #174 closed, assigned to samhstn

[2017-07-29 10:17] samhstn commented on #27
No longer using redis, closing

[2017-07-29 10:17] #27 closed, assigned to jrans

[2017-07-29 10:19] samhstn commented on #32
We've been happily using `hours` in our labels. We can reopen if this becomes an issue

[2017-07-29 10:19] #32 closed, assigned to iteles

[2017-07-29 10:24] samhstn commented on #34
Labels issues seem to have been moved to [dwyl/labels](https://github.com/dwyl/labels/issues) and I think we've been working fine with the currently decided on labels.

[2017-07-29 10:24] #34 closed, assigned to nobody

[2017-07-29 10:25] Cleop commented on #162
Closing for now but will reopen if reoccurs.

[2017-07-29 10:25] #162 closed, assigned to nobody

[2017-07-29 10:26] samhstn commented on #45
No longer using `riot`, closing

[2017-07-29 10:26] #45 closed, assigned to nobody

[2017-07-29 10:26] Cleop commented on #153
Closing as all complete apart from heroku which is listed in #169

[2017-07-29 10:26] #153 closed, assigned to nobody

[2017-07-29 10:35] samhstn commented on #56
No longer adding these json files to redis for storing each dwyl issue

[2017-07-29 10:35] #56 closed, assigned to nobody

[2017-07-29 10:36] Jbarget commented on #28
closing as this is now naturally happening with Phoenix template rendering

[2017-07-29 10:36] #28 closed, assigned to nobody

[2017-07-29 10:38] Jbarget commented on #6
closing as this is now merged in with the new phoenix project: https://github.com/dwyl/tudo/commit/5529332572e5424f8c7d30297d17faf213c0a8bb

[2017-07-29 10:38] #6 closed, assigned to nelsonic

[2017-07-29 10:39] samhstn commented on #80
@nelsonic @iteles has this been resolved and we can close this? If not we can migrate this to `dwyl/labels`

[2017-07-29 10:40] Cleop commented on #150
Closing as duplicate of #176

[2017-07-29 10:40] #150 closed, assigned to nobody

[2017-07-29 10:41] Jbarget commented on #30
currently using milestones for our sprint:
https://github.com/dwyl/tudo/milestone/4

would like to close as we're currently working through: https://github.com/dwyl/tudo/issues/166
and milestones in combination with labels are widely used throughout dwyl

that ok @iteles ?

[2017-07-29 10:44] Cleop commented on #104
Closing as new UI incorporating priority label color has been created.

[2017-07-29 10:44] #104 closed, assigned to nobody

[2017-07-29 10:45] Jbarget commented on #21
moving this work to: https://github.com/dwyl/tudo/issues/180 and https://github.com/dwyl/tudo/issues/179

webhook API has changed as well so will look at the updated docs

[2017-07-29 10:45] #21 closed, assigned to nobody

[2017-07-29 10:45] Cleop commented on #114
Closing as no longer using codeship

[2017-07-29 10:45] #114 closed, assigned to nobody

[2017-07-29 10:45] Cleop commented on #112
Closing as no longer have outstanding branches

[2017-07-29 10:45] #112 closed, assigned to nobody

[2017-07-29 10:45] samhstn commented on #96
This is no longer relevant to the current project plan

[2017-07-29 10:45] #96 closed, assigned to nobody

[2017-07-29 10:46] Jbarget commented on #172
previous work done for copy here: https://github.com/dwyl/tudo/issues/24

[2017-07-29 10:46] Cleop commented on #109
Closing as no longer relevant for tachyons/ new project.

[2017-07-29 10:46] #109 closed, assigned to nobody

[2017-07-29 10:47] Jbarget commented on #24
closing as now incorporated into: https://github.com/dwyl/tudo/issues/172

[2017-07-29 10:47] #24 closed, assigned to msmichellegar

[2017-07-29 10:47] samhstn commented on #93
This has been decided on and implemented in `dwyl/labels`, closing

[2017-07-29 10:47] #93 closed, assigned to nobody

[2017-07-29 10:47] Cleop commented on #121
Closing as no longer relevant, readme up to date.

[2017-07-29 10:47] #121 closed, assigned to nobody

[2017-07-29 10:47] Cleop commented on #119
Closing as not relevant to new project.

[2017-07-29 10:47] #119 closed, assigned to nobody

[2017-07-29 10:48] Cleop commented on #120
Closing as decision made.

[2017-07-29 10:48] #120 closed, assigned to nobody

[2017-07-29 10:49] Jbarget commented on #31
im not sure how relevant this feature is having discussed this with @nelsonic last night. Our product is to get new people involved in DWYLs open source efforts and I feel its unlikely milestones will apply to people outside the dwyl sphere

removing priority label as it already has an `enhancement` label

[2017-07-29 10:49] samhstn commented on #72
This may have been relevant to the `old_project`, but should not be an issue in this one as we will be adding colors by adding classes and won't be using inline styles

[2017-07-29 10:49] #72 closed, assigned to nobody

[2017-07-29 10:50] samhstn commented on #144
We have a `beginner-friendly` label in the form of `starter`, if this is an issue, this can be addressed in `dwyl/labels`, closing

[2017-07-29 10:50] #144 closed, assigned to nobody

[2017-07-29 10:52] Cleop commented on #130
Closing as covered in #131

[2017-07-29 10:52] #130 closed, assigned to nobody

[2017-07-29 10:53] Cleop commented on #126
Closing as historic

[2017-07-29 10:53] #126 closed, assigned to nobody

[2017-07-29 10:55] samhstn commented on #33
This is no longer the desired app functionality, closing

[2017-07-29 10:55] #33 closed, assigned to nobody

[2017-07-29 10:56] Cleop commented on #94
Closing as currently only dealing with dwyl owned repos, can be reopened later when moving on to this.

[2017-07-29 10:56] #94 closed, assigned to nobody

[2017-07-29 10:59] Jbarget commented on #51
I think the structure of this app has changed in that we don't require people to be logged in to view the list of issues so our first action when people land on the home page will be to go and fetch the first page of issues

am i ok to close this? @nelsonic

[2017-07-29 11:00] Cleop commented on #148
Closing as duplicate of #149

[2017-07-29 11:00] #148 closed, assigned to nobody

[2017-07-29 11:03] Jbarget commented on #88
The new plan involves initialising a postgres database with all the relevant issue data as a one off operation. All requests from a user for issues will be to our db rather than github.

To keep our database up to date we're going to use github repository webhooks listening out for issue changes across all repos and organisation webhooks for when a new repo is created

https://github.com/dwyl/tudo

[2017-07-29 11:13] Jbarget commented on #145
adjusting from `priority` to `enhancement` as we feel the above is not an MVP feature

[2017-07-29 11:21] Jbarget commented on #137
closing as related to old hapi project and we're currently re writing in elixir

[2017-07-29 11:21] #137 closed, assigned to nelsonic

[2017-07-29 11:24] Jbarget commented on #166
Spent 2 pomodoros (1 hour) on this and there's still a few conversations/issues open that we could probably close but waiting to hear back as to whether its ok to close them:

https://github.com/dwyl/tudo/issues/30
https://github.com/dwyl/tudo/issues/80
https://github.com/dwyl/tudo/issues/51
https://github.com/dwyl/tudo/issues/88

[2017-07-29 11:32] iteles commented on #30
@jbarget Agreed, this is no longer the right place for this issue. Let's close it and open one in https://github.com/dwyl/contributing referring to this one please!
Or https://github.com/dwyl/process-handbook if you feel that's more apt

[2017-07-29 11:41] iteles commented on #80
@shouston3 Agree this is no longer relevant in this repo.

Moved to https://github.com/dwyl/labels/issues/75

[2017-07-29 11:41] #80 closed, assigned to nelsonic, iteles

[2017-07-29 11:42] iteles commented on #88
We can close this issue for now and reopen if it becomes relevant again.

[2017-07-29 11:42] #88 closed, assigned to nobody

[2017-07-29 11:43] iteles commented on #51
Adding individual authentication _might_ be quite close in the future, so I'd like to keep this one open as a super low priority so it doesn't slip out of our mind.

[2017-07-29 11:45] iteles commented on #166
Have just reviewed those final 4 and left comments/closed where relevant.
Only one that requires action is https://github.com/dwyl/tudo/issues/30

[2017-07-29 13:03] nelsonic commented on #176
@Cleop ***how many rows*** do you `expect` will fit on an **iPhone 5** (C/S/SE) screen including basic "menu" UI without/before scrolling? 🤔

[2017-07-29 13:22] Cleop commented on #166
Closing as now complete

[2017-07-29 13:22] #166 closed, assigned to iteles, Jbarget, samhstn, Cleop

[2017-07-29 13:23] Jbarget commented on #170
![screen shot 2017-07-29 at 14 23 36](https://user-images.githubusercontent.com/11725595/28745131-87981c84-7469-11e7-828b-de6a34877d61.png)

all good 👍

[2017-07-29 13:23] #170 closed, assigned to Jbarget

[2017-07-29 13:24] samhstn commented on #169
This has been deployed to heroku 👍

[2017-07-29 13:24] #169 closed, assigned to Jbarget, samhstn, Cleop

[2017-07-29 13:24] Jbarget commented on #182
all good 👍
![screen shot 2017-07-29 at 14 23 59](https://user-images.githubusercontent.com/11725595/28745132-985551e0-7469-11e7-84c4-fbfe7e30476f.png)

[2017-07-29 13:24] #182 closed, assigned to Jbarget

[2017-07-29 13:24] Jbarget commented on #173
all good 👍

[2017-07-29 13:24] #173 closed, assigned to Jbarget

[2017-07-29 13:28] iteles commented on #182
@jbarget Did you see my comment above?

[2017-07-29 13:31] iteles commented on #168
https://github.com/LDMW/app/pull/117 and the related issue might help

[2017-07-29 13:32] Cleop commented on #165
Update:

- 4 x tables - repos, issues, labels, label and issue id's
- Stored info:
  - repositories: repository, url
  - issues: assignees, labels, issue number, issue link, issue description.
  - labels: name, color hex code
  - label and issue id table: issue id, label id's

[2017-07-29 13:47] samhstn commented on #152
Priority tbc after user testing

[2017-07-29 13:47] #152 closed, assigned to nobody

[2017-07-29 13:47] samhstn commented on #151
Priority tbc after user testing

[2017-07-29 13:57] Cleop opened #188 "Write Intro Copy"
- [x] Write intro copy to introduce 'help wanted'
- [x] Include links to dwyl resources for people who aren't familiar with our labels/contributing etc.

[2017-07-29 14:00] samhstn opened #189 "Pagination UI and functionality"
As a user

I want to be able to see 20 issues at a time, with the ability to go from page to page

so that there is not too much information on the screen at one time.

- [x] Calculate number of pages based on number of issues (25m)
- [x] Display sed number of page numbers (1h)
- [x] Build functionality so the page number corresponds to correct results (2h)
- [x] UI for pagination (25m)
- [x] See

[2017-07-29 14:51] Cleop opened #190 "Set up pre commit for accessibility"
- [ ] Set up pre commit for accessibility using pa11y, see https://github.com/LDMW/app/pull/117

[2017-07-29 14:53] Jbarget opened #191 "Handle Github webhook notification"
Deal with github notifications that come from the webhook:
- [ ] deal with notification for repo issue changes
- [ ] deal with notification for organisation changes

Repo issue:

Overwrite relevant postgres row with new issue data
The reason our initial thoughts are to overwrite the row in postgres is so that we dont have to deal with handling each of the different event types from the webhook we

[2017-07-29 15:04] Jbarget commented on #168
closed with #192

[2017-07-29 15:04] #168 closed, assigned to nobody

[2017-07-29 15:18] Jbarget opened #193 "Create styleguide for project"
- [ ] create style guide
- [ ] create colour palette

[2017-07-29 15:18] Jbarget commented on #182
:) https://github.com/dwyl/tudo/issues/193

slipped through the net, soz

[2017-07-29 15:38] nelsonic commented on #149
As discussed yesterday, the _benefits_ storing the GitHub (_issue_) data in a PostgreSQL Database are:
+ ***Redundancy***
  + **GitHub** has ("_Minor_") ***Outages*** roughly once every 2 months and **_Major_ Outages** every **6 months** where the site is "_down_" for _several_ hours for whatever reason.
![image](https://user-images.githubusercontent.com/194400/28744830-44120d4c-7461-11e7-8ca5-f9c

[2017-07-29 15:52] Jbarget commented on #191
@nelsonic in the description I mentioned "The reason our initial thoughts are to overwrite the row in postgres is so that we dont have to deal with handling each of the different event types from the webhook we set up."

Although this is inefficient compared to updating individual columns based on the event type of the github webhook do you think this will scale sufficiently?

We're currently sett

[2017-07-29 16:13] Jbarget commented on #165
Issue schema:
[code]
**Out of scope:**

Repo schema:
[code]

labels:
[code]
label and issue id table:
[code]

**NB** issue schema for labels needs to change to `labels:array:integer`

[2017-07-29 16:52] Jbarget commented on #149
@nelsonic sounds good!

we've updated this issue with our schema, hoping to speak to you about https://github.com/dwyl/tudo/issues/191#issuecomment-318839733 before getting too far down the line

[2017-07-30 15:36] Jbarget opened #195 "Transfer ownership of Github Tudo app to DWYL"
@iteles

Eoin created the application on github and has now transfered it to me, i've asked to transfer ownership to `dwyl`

![screen shot 2017-07-30 at 16 33 50](https://user-images.githubusercontent.com/11725595/28754811-170fd646-7545-11e7-831a-5159ce7a684a.png)

[2017-07-30 21:57] nelsonic commented on #191
@Jbarget while "_overwriting_" the row in the DB/Table would _ordinarily_ be good,
I would _much_ prefer to do the following:
+ [ ] receive GitHub webhook notification
   e.g: https://github.com/dwyl/dwylbot/blob/79e802e70201f02b8dcf72604a42378583211ce2/web/router.ex#L33-L35
  and: https://github.com/dwyl/dwylbot/blob/79e802e70201f02b8dcf72604a42378583211ce2/web/controllers/rules/issue/no_descript

[2017-07-31 08:17] samhstn commented on #191
@nelsonic Given the time frame, not overwriting the rows sounds doable, however hashing and storing comments seems a little out of an MVP scope.

We're also interested to know your thoughts behind the user based priorities for displaying comments before we've built the functionality to see issue descriptions or to filter by labels.

Perhaps we should user test this before going ahead.

[2017-07-31 08:19] Cleop commented on #176
Sorry @nelsonic, good point. I should have made this clearer, we will display fewer on mobile.

[2017-07-31 11:29] harrygfox commented on #171
@Cleop I just slapped this together - I've used the green colour of the `help wanted` label
![sign](https://user-images.githubusercontent.com/7805691/28775786-b7de0678-75eb-11e7-9dea-54dd674834ef.png)

Let me know if you think a different colour or anything should be different!
Also, I can send over an `.svg` file too if you like.

[2017-07-31 13:20] nelsonic commented on #191
@shouston3 as discussed, this is a "_preference_" not a "_requirement_".
Right now we just need to get the _absolute minimum_ done/launched so we can start iterating. 👍

[2017-08-01 08:02] nelsonic commented on #171
![image](https://user-images.githubusercontent.com/194400/28815092-0de7b184-7698-11e7-8677-fe9d5e72337e.png)

[2017-08-01 11:27] Cleop opened #196 "Bug for when an organisation has exactly a multiple of 100 repos ie. 200, 300"
<img src="https://user-images.githubusercontent.com/16775804/28822932-230678e6-76b3-11e7-8439-53d3cfa3604f.png" width=450px />
This code to work out how many pages to query the github api for according to how many repos your org has. Currently it will look for more pages of repos if the last page had 100 repos. As a result if you happen to have precisely 100 or 200 etc. repos in total then current

[2017-08-01 11:37] samhstn opened #197 "Organisation wide webhook creation"
To create a webhook to be able to listen out for repository creation events in dwyl, we will need further access on the dwyl organisation.

For this to be done in the Github organisation gui we need to be able to see a settings button (see below)

![screen shot 2017-08-01 at 12 31 54](https://user-images.githubusercontent.com/15983736/28823437-71e69296-76b5-11e7-8e23-2bc3b7b9a479.png)

From there

[2017-08-01 15:10] Jbarget commented on #147
We started this project on a repo called `tudo-new` https://github.com/dwyl/tudo-new/tree/authentication, where authentication was completed apart from: e288b27f92e254dc9c0d0f75f8388e6444dbfe77

That branch then got merged into the `master` branch of this repo so history of commits for authentication is on `tudo-new`

closing as feature is complete

[2017-08-01 15:10] #147 closed, assigned to nelsonic

[2017-08-01 15:12] Jbarget commented on #165
We have decided on a single table called `issues` for MVP with the schema here: https://github.com/dwyl/tudo/issues/165#issuecomment-318841138

[2017-08-02 08:58] Jbarget commented on #147
hard to give an Actual Time for this functionality as it was created a while back. I can take an educated guess of 1 day (+/- 0.5 days)

[2017-08-02 09:45] Jbarget commented on #188
Initial pass at copy:

Help Wanted is a [dwyl](http://www.dwyl.com) product, made with ❤️ , so that you can easily contribute to open source projects.  The labels applied to each of these Github issues in the list below give a lot of information about that task so we'd recommend familiarising yourself with them [here](https://github.com/dwyl/labels). We'll be adding features over time based on you

[2017-08-02 09:48] Jbarget commented on #175
closing as fixed with: d8d89acddb756c9189d617d045d62060a14ac18e

[2017-08-02 10:14] Jbarget commented on #189
adjusting priority of this functionality as we've realised in order to display more than 10 results on mobile this will be key

[2017-08-02 11:45] nelsonic opened #199 "Url in GitHub Auth Callback is localhost:4000"
Tried to "Sign in with GitHub" on https://tudo-app.herokuapp.com
![image](https://user-images.githubusercontent.com/194400/28872238-3c56dd4a-7780-11e7-9b82-d9adff9341d3.png)

But got:
![image](https://user-images.githubusercontent.com/194400/28872223-2967073c-7780-11e7-812b-2d6d228be773.png)

Might be due to config on GitHub ...?

[2017-08-02 12:55] samhstn commented on #189
This is how pagination was implemented in the Science museum: https://github.com/TheScienceMuseum/collectionsonline/blob/master/lib/pagination.js

The tests for it would probably be more useful though: https://github.com/TheScienceMuseum/collectionsonline/blob/master/test/pagination.test.js

[2017-08-02 13:58] samhstn opened #200 "Protect our api endpoint used for hooks."
At the moment there is no auth to be able to alter our application through hitting the `api/hooks` `POST` endpoint.

This means that anyone can edit our app by hitting that endpoint with the correct post request.

We should look at adding a `secret` to the hook setup config, see here: https://developer.github.com/v3/repos/hooks/#example

[2017-08-02 14:13] Jbarget commented on #189
Ive just found this library that may make our lives easier: https://hexdocs.pm/rummage_phoenix/1.2.0/Rummage.Phoenix.html

Adds phoenix support for Search, Sort and Pagination

`Rummage.Phoenix is a support framework for Phoenix that can be used to manipulate Phoenix collections and Ecto models with Search, Sort and Paginate operations.`

If we need to revert we have this commit with vanilla elixi

[2017-08-02 14:23] Jbarget commented on #189
Im going to spend an hour investigating the library above.

[2017-08-02 14:38] Cleop commented on #188
Great @Jbarget - a couple of little tweaks in my take on an edit - happy to go with either version though.... 👍

Help Wanted is a [dwyl](http://www.dwyl.com) product, made with ❤️ , to allow you to easily contribute to our open source projects.  Each of the issues below requires help from someone like you. Not sure where your skills fit in or where to start? Why not [familiarise yourself with what

[2017-08-02 14:56] Cleop opened #202 "Alter label text color according to contrast with background color"
Currently labels are loaded using the color info given by the github API which allows us to replicate the background colors:
<img src="https://user-images.githubusercontent.com/16775804/28868007-f8853f7c-776f-11e7-8a6a-9fe9e39146e3.png" width=250px />
However unlike github, we currently do not alter the font color from the default of black.
Whereas github does like this:
<img src="https://user-ima

[2017-08-02 15:05] Cleop opened #203 "Desktop / Mobile view - which information is useful/necessary"
**This is the current desktop display:**

![image](https://user-images.githubusercontent.com/16775804/28880019-9f0414c4-779b-11e7-8420-43adefdc38b1.png)

**We are currently displaying:**

- repo name
- issue title
- labels
- assignee (s)
- No of comments

Of these elements the following click through to links on github:
- issue title and no. of comments both go to the issue's page

To do?
- repo n

[2017-08-02 17:38] Jbarget commented on #189
Initial pass at using the library went well, however we have hit a blocker in getting the library to run with the latest version `1.2.0`.

I believe its worth sticking with the library as in the long run it provides search, filter and pagination without much effort.

I've opened an issue on the repo here and hoping for an answer 🤞 : https://github.com/aditya7iyengar/rummage_phoenix/issues/36

Curr

[2017-08-02 18:51] Jbarget commented on #188
We'll go with the below, it is a mixture between mine and @Cleop plus a bit of input from @iteles

Help Wanted is a dwyl product, made with ❤️ , so that you can easily contribute to open source projects. Each of the issues below requires help from someone like you; technical or not.
Take a look at our [labels repo](https://github.com/dwyl/labels#labels) to familiarise yourself with what they mean

[2017-08-03 06:53] iteles commented on #203
**Desktop**:
+ I would add:
  + Last updated date for the MVP
  + In future I think that 'last updated author' would be an interesting one to add but let's let that be a request
+ I wouldn't have thought to add number of comments but I guess it does show some measure of popularity!

**Mobile**:
+ I would still add last updated time
+ Remove:
  + Assignee (from display, not from future filtering ca

[2017-08-03 09:34] Jbarget opened #204 "Mobile Card UI"
as mentioned in https://github.com/dwyl/tudo/issues/203

The idea of having each issue render as a "card" for mobile view
Tachyons: http://tachyons.io/components/#cards

Idea 1:
![screen shot 2017-08-03 at 10 25 03](https://user-images.githubusercontent.com/11725595/28915153-25661e0a-7836-11e7-897b-37904a9ab477.png)

Idea 2:
![screen shot 2017-08-03 at 10 25 47](https://user-images.githubuserconte

[2017-08-03 09:36] Jbarget commented on #203
Just a note that the idea of showing the `comments` was the thought that it would promote discovery and therefore collaboration. In the sense that when an issue has a high number of comments i've typically been interested to find out what people are talking about

Sounds good, I've made a first pass here: #204

[2017-08-03 09:47] Jbarget opened #205 "Emoji's are rendered as text"
Emojis applied in Github to issue titles aren't rendered properly in the UI

![screen shot 2017-08-03 at 10 46 21](https://user-images.githubusercontent.com/11725595/28916139-1a40ad08-7839-11e7-91bd-873e2ca96bc9.png)

[2017-08-03 09:57] Jbarget commented on #204
Wireframes created here: https://gomockingbird.com/projects/t1sea3l/4gXVnC

[2017-08-03 10:06] Jbarget commented on #189
have reverted back to version `1.0.0` for now: and will work on styling for page numbers

![screen shot 2017-08-03 at 11 06 11](https://user-images.githubusercontent.com/11725595/28916933-c9abbf88-783b-11e7-8a8e-9de9489f34ee.png)

[2017-08-03 11:34] Jbarget opened #206 "Ugly url from pagination"
Eg. `http://localhost:4000/?rummage[paginate][page]=4&rummage[paginate][per_page]=10`

The caveat to using the [`rummage`](https://github.com/aditya7iyengar/rummage_phoenix) library for pagination is that the information as to which page a user is held in the url as an ugly query parameter.

On Opera the query param doesnt show: `localhost:4000`
but on chrome the whole url shows.

For MVP i think

[2017-08-03 12:00] Jbarget commented on #189
NB: https://github.com/dwyl/tudo/issues/206

[2017-08-03 13:06] shouston3 commented on #197
aaaaa

[2017-08-03 13:40] Jbarget commented on #176
we have adjusted getting 20 issues per page to 10 for MVP as @nelsonic makes a very valid point

[2017-08-03 13:44] shouston3 commented on #197
test comment

[2017-08-03 13:45] shouston3 commented on #197
another comment

[2017-08-03 13:46] shouston3 commented on #197
fff

[2017-08-03 13:47] shouston3 commented on #197
ffff

[2017-08-03 13:53] Jbarget opened #208 "Limit the labels that get rendered in the UI"
The UI seems quite cluttered with all the labels being rendered
![screen shot 2017-08-03 at 14 51 27](https://user-images.githubusercontent.com/11725595/28925193-10d2d84a-785c-11e7-8774-e375fd4ef6cb.png)

Im proposing to limit the labels to:

`priority-n`
`starter`
`question`
`enhancement`
`discuss`

We would do this by just providing a list of "renderable" labels so that any can be added/taken aw

[2017-08-03 14:02] Jbarget commented on #188
The above is a mixture between mine and @Cleop plus a bit of input from @iteles. We will go with that

[2017-08-03 14:04] Jbarget commented on #149
fixed with f19ec7b

[2017-08-03 14:04] #149 closed, assigned to Jbarget, Cleop

[2017-08-03 14:07] Jbarget commented on #106
closing as more up to date detail is covered in https://github.com/dwyl/tudo/issues/203

[2017-08-03 14:07] #106 closed, assigned to nobody

[2017-08-03 14:09] #175 closed, assigned to nobody

[2017-08-03 14:56] Jbarget opened #209 "Remove Github oAuth from UI"
I have removed github oAuth buttons as its not being used at the moment and designing around it for the MVP will make things harder

[code]

[2017-08-03 15:03] #188 closed, assigned to Jbarget

[2017-08-04 17:09] samhstn commented on #196
@Cleop I've rethought the logic for this and implemented it here: https://github.com/dwyl/tudo/pull/201/files#diff-22335f36da358ea6c44d3e3b6d9fe09cR43

I've also added tests for the multiple of 100 repos scenario here: https://github.com/dwyl/tudo/pull/201/files#diff-55636695cd0112390874b645aaeed25aR28

Perhaps this can be closed when #201 is merged

[2017-08-04 17:18] samhstn opened #211 "Deployment"
We will need to run the seed file on heroku when deploying and simultaneously set up webhooks on all dwyl repos.

All the logic for this has been built and tested as of #201

[2017-08-04 17:19] samhstn opened #212 "Add codecov badge to readme"
Just need to find the url and add it to the top of the readme

[2017-08-04 17:21] samhstn opened #213 "Improve readme docs on hooks"
We should include info on how to run hooks from the iex shell.

This is important as you cannot have more than 5 webhooks on a repo and having travis and other apps takes up a space, so space here is limited and will need to be easily managed.

[2017-08-04 20:37] nelsonic commented on #197
@shouston3 can you let me know what permissions you need?

[2017-08-04 21:06] sohilpandya commented on #197
@nelsonic aren’t you suppose to be getting married tomorrow? Bit late for this issue! 🙄😳

Sorry for the side topic comment. 😬

[2017-08-05 12:17] samhstn commented on #197
If these are the options:
![screen shot 2017-08-05 at 13 12 28](https://user-images.githubusercontent.com/15983736/28995382-c9ac97fa-79df-11e7-9fdb-b7532842c228.png)
I am currently a member and am unable to add an organisation wide webhook from the site.
One of us would need to be made `owner` for this to work and for us to use that peronal access token.
The alternative could be for you to generat

[2017-08-06 16:18] #172 closed, assigned to nobody

[2017-08-06 16:18] #177 closed, assigned to Jbarget, samhstn, Cleop

[2017-08-06 16:18] #203 closed, assigned to Jbarget, samhstn

[2017-08-06 16:18] #204 closed, assigned to iteles

[2017-08-06 16:18] #209 closed, assigned to nobody

[2017-08-06 16:18] #176 closed, assigned to Cleop

[2017-08-06 16:18] #202 closed, assigned to Cleop

[2017-08-06 16:22] samhstn commented on #211
Will also need to ensure to clean up webhooks attached to repos and ensure there is space for the new ones

[2017-08-06 19:32] Jbarget commented on #199
Authorization callback url now changed to: `https://tudo-app.herokuapp.com/auth/github/callback`

The app still needs to be transferred to the dwyl organisation: https://github.com/dwyl/tudo/issues/195

[2017-08-06 20:08] Jbarget commented on #189
We have a reply from the author of the `rummage` module: https://github.com/aditya7iyengar/rummage_phoenix/issues/36#issuecomment-320453712

[2017-08-06 20:10] Jbarget commented on #165
Closing as schema confirmed and implemented as above

[2017-08-06 20:10] #165 closed, assigned to Jbarget, samhstn, Cleop

[2017-08-08 16:17] samhstn commented on #196
@Cleop can we close this?

[2017-08-08 16:21] samhstn commented on #211
@nelsonic should we deploy now to be able to use the app or should we wait for https://github.com/dwyl/tudo/issues/197#issuecomment-320440560 to be addressed (it will still be very useable without this)?

[2017-08-09 13:06] iteles commented on #195
<img width="237" alt="screen shot 2017-08-09 at 14 06 22" src="https://user-images.githubusercontent.com/4185328/29122945-fbbae9b6-7d0b-11e7-9741-ccc827c358fb.png">

[2017-08-09 13:06] #195 closed, assigned to iteles

[2017-08-11 10:48] rjmk commented on #133
This is issue is being automatically closed as it's more than a year old. Please feel free to reopen it if it's still relevant to your project.

[2017-08-11 10:48] #133 closed, assigned to nobody

[2017-08-11 10:48] #113 closed, assigned to nobody

[2017-08-11 10:48] rjmk commented on #124
This is issue is being automatically closed as it's more than a year old. Please feel free to reopen it if it's still relevant to your project.

[2017-08-11 10:48] #124 closed, assigned to nobody

[2017-08-11 10:48] rjmk commented on #98
This is issue is being automatically closed as it's more than a year old. Please feel free to reopen it if it's still relevant to your project.

[2017-08-11 10:48] #98 closed, assigned to nobody

[2017-08-11 10:48] rjmk commented on #113
This is issue is being automatically closed as it's more than a year old. Please feel free to reopen it if it's still relevant to your project.

[2017-08-18 11:00] iteles commented on #211
@shouston3 Yes, let's definitely deploy what we have please 😊
Can't do internal user testing without it!
Can we simultaneously also update the readme to explain the current limitations and refer to the issues?

[2017-08-18 11:06] samhstn commented on #211
Will do 👍

[2017-08-18 11:47] samhstn commented on #211
@Jbarget has made progress with the deployment. Just need to remove the other hooks on the dwyl repos and run the seed file with the new hooks

[2017-08-18 11:50] Jbarget commented on #171
ah whoops i didn't see the above from Harry, this is still outstanding in that case

FYI At the moment the title is just the text "Help Wanted"
https://github.com/dwyl/tudo/blob/master/web/templates/page/index.html.eex#L2

[2017-08-18 12:20] Jbarget opened #214 "App Branding"
Currently when I look at the help wanted app there is no DWYL branding apart from a favicon:

![screen shot 2017-08-18 at 14 21 01](https://user-images.githubusercontent.com/11725595/29458670-7ecb31c4-8420-11e7-95b8-9be8a28aacfb.png)

I think that as a brand we would benefit more by having a consistent style across our apps. A 'dwyl` header for example:

![screen shot 2017-08-18 at 14 18 31](https

[2017-08-18 12:55] iteles commented on #214
Agreed!

[2017-08-18 13:01] Jbarget commented on #189
got version 1.2 giving back a list of issues but no pagination yet, asked another question on the same issue: https://github.com/aditya7iyengar/rummage_phoenix/issues/36#issuecomment-323346400

[2017-08-18 13:33] #171 closed, assigned to nobody

[2017-08-29 11:00] samhstn commented on #211
@ZooeyMiller @finnhodgkin Steps to deploy the app are roughly as follows:

You'll first need to run some things from the IEx shell (`iex -S mix`) locally, run something like
[code]
Essentially remove all the webhooks that are pointing at a `ngrok` server and instead add hooks that point to the heroku app instead.
Check out how to do that in this file: https://github.com/dwyl/tudo/blob/master/web/g

[2017-08-29 11:04] finnhodgkin commented on #211
Thanks Sam, sounds clear enough! We'll have a go now :+1:

[2017-08-29 11:59] samhstn commented on #211
From this question:

[code]

You might need to ensure that your github account has the appropriate access and that your personal access token also has the appropriate access.

Can you provide example requests that you are sending which should be working, but aren't. E.g.

[code]

[2017-08-29 12:08] finnhodgkin commented on #211
Pretty sure the Heroku access_token has been revoked and Zooey and I don't have permissions for dwyl github things.

It works perfectly on my own repos :+1:

[2017-08-29 12:11] samhstn commented on #211
I see, you'll need to get 2 factor auth and approved by @iteles or @nelsonic to be allowed to have write access to dwyl repos. I'll share one of my pa keys for now so you can continue.

[2017-08-29 13:08] ZooeyMiller commented on #211
Are we adding a webhook to point to https://tudo-app.herokuapp.com/ rather than the ngrok server, if a repo doesn't have an ngrok webhook are we still adding the heroku webhook, or only to those that currently have an ngrok webhook?

[2017-08-29 13:11] samhstn commented on #211
Add the webhook pointing to https://tudo-app.herokuapp.com/ to all dwyl repos and remove any webhooks on dwyl repos which have ngrok server references (these were just set up for testing and the server no longer exists).

[2017-08-29 13:35] ZooeyMiller commented on #211
it's taking a little longer than expected just because the code doesn't deal with unexpected results well (if there are no webhooks for a repo then Hook.delete/2 errors), so we're having to work on the code to make sure it doesn't error with any input. Also lunch.

[2017-08-29 13:46] samhstn commented on #211
No worries at all, perhaps look at adding a `somefilter` function from [this comment](https://github.com/dwyl/tudo/issues/211#issuecomment-325629709) to ensure that the correct hook exists for that repo. Or yea, look at fixing the `delete` function

[2017-08-30 09:25] finnhodgkin commented on #211
So I've deleted and created webhooks for all dwyl repos that the access token you gave me had permissions for.

About a third of them won't respond. I don't know what the key difference is between repos that do respond and those that don't (for example learn-tdd and learn-tape don't, but learn-redux does). Do you have to enable webhooks for repos? Would be strange because lots of repos that had no

[2017-08-30 09:53] Jbarget commented on #211
@finnhodgkin are the results you found above consistent?

What do you mean in this context by "wont respond"?

[2017-08-30 09:58] finnhodgkin commented on #211
As in the picture above some repos like learn-tape and learn-tdd won't respond to `Hook.get`, `Hook.delete`, etc. I'm guessing it's something to do with permissions :woman_shrugging:

It seems consistent so far:

![testing](https://user-images.githubusercontent.com/22300773/29867001-1b80580a-8d72-11e7-916f-2c41646eea42.gif)

It's always the same repos that don't respond.

[2017-08-30 10:04] Jbarget commented on #211
👍  permissions sounds logical, lets see what @shouston3 says

[2017-08-30 13:09] samhstn commented on #211
It does seem like a permissions issue as for the repositories which I am getting this response

![screen shot 2017-08-30 at 14 00 21](https://user-images.githubusercontent.com/15983736/29873601-bcd073a2-8d8b-11e7-9de5-311c9f039bba.png)

I also don't have a `settings` tab in the github navbar.

![screen shot 2017-08-30 at 14 01 55](https://user-images.githubusercontent.com/15983736/29873625-d37b95f

[2017-08-30 13:10] samhstn commented on #211
Nice spot btw @finnhodgkin @ZooeyMiller

[2017-09-07 10:47] samhstn opened #216 "Seed file"
Ensure the seed file is working.
Add back in how to the seed file [how to to run this file and what is for](https://hexdocs.pm/phoenix/seeding_data.html)
Add this information to the readme

[2017-09-07 11:10] ZooeyMiller commented on #216
We're looking into running the seed file, but it seems we're getting permissions issues again (using the key that you @shouston3 gave us), and don't have the "HOOK_ENDPOINT", and can't quite see what it needs to be. Happy to update the README.md adding the relevant instructions when we've worked them out.

[2017-09-07 11:14] finnhodgkin commented on #216
I'm guessing the hook_endpoint is the same one I used in the hook creation script last week (https://tudo-app.herokuapp.com/api/hooks).

That portion of the seeding should already be done for all dwyl repos that @shouston3's key has access to, so for now we could comment that section out and concentrate on the database seeding.

But yeah, it's error-ing due to bad permissions responses from the Gi

[2017-09-07 11:20] ZooeyMiller opened #217 "Expanding as "Help Wanted" or working towards "tudo""
During the call @finnhodgkin and I had with @Cleop and @shouston3 we talked about Help Wanted as an MVP, and the wider idea of the tudo app.

For the kinds of issues that we raise and work on for today and tomorrow, should we be looking to expand the functionality of "Help Wanted" (for example ability to sort by priority, filter by repo, things like that) or look towards expanding it into "tudo"?

[2017-09-07 12:22] ZooeyMiller commented on #216
The error turned out to be fixed by making it so that if `Poison.decode` is passed an empty string, we instead pass it `"{}".

I believe this is the solution @shouston3 and @finnhodgkin came up with last week when dealing with #211.

[2017-09-07 12:41] iteles commented on #217
@ZooeyMiller Expanding the `help wanted` MVP to include some of the things that were captured but not implemented is our first port of call - displaying and filtering by labels, assignee, other filtering options etc would be great.

Very worth _capturing_ the wider conversation you had in issues however, so that that's not lost!

A reminder that in this repo we're trialling https://github.com/dwyl

[2017-09-07 13:29] #217 closed, assigned to ZooeyMiller

[2017-09-07 13:30] finnhodgkin commented on #216
The live version is now seeded and there are instructions in the readme :+1:

[2017-09-07 13:30] #216 closed, assigned to ZooeyMiller, finnhodgkin

[2017-09-07 13:45] #196 closed, assigned to Cleop

[2017-09-07 13:53] ZooeyMiller commented on #189
@finnhodgkin and I are looking into writing a helper function for adding the ellipses for more than 5 pages, it's an [issue in `rummage`](https://github.com/aditya7iyengar/rummage_phoenix/issues/30) that it doesn't exist, but they suggest making a helper function.
(A lot of time estimates on here so will add as comment)

~PT1h~ PT2h

EDIT: I definitely underestimated how complex implementing my ow

[2017-09-07 16:16] finnhodgkin commented on #189
Rummage v1.2 with max pagination links is now working :+1:

AT2H

[2017-09-07 16:27] ZooeyMiller opened #220 "Add the ability to filter by repo"
As a developer who wants to help dwyl out with `help wanted` issues
I want to be able to filter issues by repo
So that I can see `help wanted` issues only on the repos my skills are relevant to.

[2017-09-07 16:45] ZooeyMiller commented on #220
[Rummage](https://github.com/aditya7iyengar/rummage_phoenix) has a really nice search function, we just want to adapt it so that it has an autocomplete so that people can easily find which repos have open issues, without having to know precisely which term to search for.

[2017-09-07 17:15] iteles commented on #220
Might also be worth considering how this could be done without rummage (even if just and implentation plan and time estimate at this stage) - whilst using rummage is nice, it doesn't teach you a whole lot other than how to use rummage 😉

[2017-09-07 17:18] #189 closed, assigned to Jbarget

[2017-09-08 09:21] ZooeyMiller commented on #220
@iteles good point! We'll give it a go without just straight up using rummage then.

[2017-09-08 10:01] finnhodgkin opened #221 "Pattern match for multiple nested imports"
`Alias`, `import`, `require` and `use` can make use of pattern matching when there are multiple nested modules (https://elixir-lang.org/getting-started/alias-require-and-import.html#multi-aliasimportrequireuse).

See #210

[2017-09-08 11:09] finnhodgkin opened #222 "Elixir strings double quotes"
Strings in Elixir are represented by double quotes not single.
Single quotes are for [charlists](https://elixir-lang.org/getting-started/binaries-strings-and-char-lists.html#charlists)

Currently misused [in the page_view](https://github.com/dwyl/tudo/blob/master/web/views/page_view.ex#L26-L27). Nothing is breaking but it's  definitely not best practice.

[2017-09-08 12:04] ZooeyMiller commented on #220
We've had a working solution for a little bit, using a mix of rummage and our own code. It's hard to get out of using rummage _completely_ because our pagination and everything relies on it, but by creating our own form and endpoint we have a bit more control over it.

We're now just looking into updating the tests for the `page_controller` to get us back up to 100% coverage, this kind of testing

[2017-09-08 15:25] finnhodgkin opened #224 "Travis tests failing, local passing"
We've been banging our heads against travis for quite a while now. Our local tests are working absolutely fine (100% coverage, all tests passing), but on travis they fail with:

[code]

We can't see how the case could ever be called with the value that errors on travis side because the test uses a map with a key of rummage and value of `%{"paginate" => %{}, "search" => %{}, "sort" => %{}}`.

see #

[2017-09-08 16:00] finnhodgkin opened #225 "Display the same issue information on desktop and mobile"
The mobile view issue cards show creation and update information for every issue, whereas in desktop view there's no reference to time. To sort issues by time _all_ devices will need visible date information.

[2017-09-08 16:13] ZooeyMiller commented on #224
After a few different thing (passing in different arguments, making the function call without brackets, or with brackets, changing elixir version) we're wondering if perhaps it could be that there is a problem when the tests are running on an unseeded database, so we're looking at trying that locally.

It's slightly time consuming just because we have to push the code to see if it solves the travi

[2017-09-08 16:18] finnhodgkin commented on #224
The test database is empty so it's not that. I've now tried cloning the repo, creating new databases for both test and dev and then running the tests: everything still passes with 100% cov.

It must be something to do with our travis setup. :woman_shrugging:

[2017-09-08 16:50] finnhodgkin commented on #224
Well that took a very long time and in the end, as usual, was a super simple solution... We just swapped out the second case to a default with the params manually passed in.

Strange that elixir on travis requires a default when local doesn't but :woman_shrugging:

[2017-09-08 16:53] #224 closed, assigned to Jbarget, samhstn, Cleop

[2017-09-11 09:25] ZooeyMiller opened #227 "Allow sorting by date created/modified and repo"
As a person who wants to help with dwyl issues,
I would like to be able to sort issues on tudo by date created, and date modified so that I can address recent issues, and by repo to allow easier finding of relevant repos,
So that I can shorten the time from deciding to help with an issue, to finding an issue to work on.

[2017-09-11 10:41] ZooeyMiller opened #229 "Have an option to show issues with no labels"
As a person who values organisation via labels
I want to be able to have an option to see only issues with no labels (often these issues are _actually_ in need of a `help wanted` label)
So that they can be given the appropriate labels

(taking longer than expected. Updated PT to 1d from 2h because of higher complexity than originally perceived.)

[2017-09-11 11:10] ZooeyMiller commented on #229
While working on this feature we found that if an issue has a label removed, we update it in the database so that the labels for the issue in our db match those on github, but we do not check if the issue no longer has the `help-wanted` label, in which case it should be removed from the `issues` table in the database since it is no longer `help-wanted`.

Since we are working a lot on this file to

[2017-09-11 14:33] ZooeyMiller commented on #167
I just ran pa11y on the site from my command line and got a lot of errors.

![pa11y results](https://user-images.githubusercontent.com/21139983/30279944-6fcfaa3a-9706-11e7-8f86-b503c4c79a1a.png)

I think fixing the problems which are currently there are a blocker for #190 but I'll read through the errors to see how big the jobs will be.

EDIT: most of the errors seem to be about contrast ratios of

[2017-09-11 14:50] ZooeyMiller opened #231 "Assignee images do not show"
Currently the`src` of the image tags for the assignees is just the assignee's username, with no alt tags or actual image, we need to update the link so it actually shows their avatar, and has alt text.

[2017-09-11 15:46] #212 closed, assigned to ZooeyMiller

[2017-09-11 15:55] samhstn commented on #167
If I remember correctly when @Danwhy and I used this, we decided to hide the notices (as they are mainly informational), warnings we viewed, but didn't necessarily fix them, but we addressed all errors and made errors these fail our pre-commit hook.

See here for our config: https://github.com/LDMW/app/blob/708478e05393d6ec13928bb9fc7eca1f97d585cf/package.json#L10

[2017-09-11 16:30] ZooeyMiller commented on #229
Having set up the hooks, we're now looking at setting up a seed script to fill up our database table with all of the issues with no labels. It seems there is no way to specifically get all issues with no labels from a repo, so we'll just have to get all issues and filter them to ones with no labels in Elixir. This is a seed script so will only be run once, so shouldn't be too much of a problem.

[2017-09-11 17:02] ZooeyMiller commented on #229
Commit made, but need to test `get_all_repos` with Httpoison.

[2017-09-11 18:00] finnhodgkin commented on #229
Test made. Bored on the train on the way home :smile:

[2017-09-12 09:28] #231 closed, assigned to nobody

[2017-09-12 09:31] #222 closed, assigned to finnhodgkin

[2017-09-12 10:05] ZooeyMiller opened #234 "Create safari compatible autocomplete"
At the moment the autocomplete for the search by repo functionality comes from the HTML5 `datalist` tag, which is not compatible with Safari.

As discussed in this pr review: https://github.com/dwyl/tudo/pull/223#pullrequestreview-61858983 we decided to merge this in, and work on creating a more widely browser compatible autocomplete as a separate feature.

The autocomplete will be made with front

[2017-09-12 10:07] #225 closed, assigned to finnhodgkin

[2017-09-12 10:07] #227 closed, assigned to nobody

[2017-09-12 10:51] #220 closed, assigned to ZooeyMiller, finnhodgkin

[2017-09-12 10:53] ZooeyMiller commented on #167
Using the config @shouston3 linked to we're reduced to only the errors, of which the majority (at a scan 46 of 48) are from:
+ Rummage creating 2 `a` tags when using a `sort_link`, one of which has no content, but a valid href. I can see no real solution for this apart from not using rummage.
+ Insufficient contrast ratios on the labels. In my experience, automated accessibility audits tend to ove

[2017-09-12 14:16] ZooeyMiller opened #235 "Have issues ordered initially"
Currently when the page is first loaded the issues are not ordered in any particular way, it would be nice if they were ordered somehow when the page loads, perhaps by the most recently updated issues, so the user can see those with recent activity on them.

[2017-09-13 10:30] ZooeyMiller commented on #229
Ended up taking some extra time due to https://github.com/dwyl/tudo/pull/236#pullrequestreview-62169260

Which were then followed by travis problems. All tests passing and 100% coverage locally, but failing travis build. Had to do trial and error with pushing up to get travis passing which took some extra time too.

[2017-09-13 10:50] finnhodgkin opened #238 "Filter results by label/s"
As a person who values organisation via labels
I want to be able to have an option to see only issues with certain labels
So I can work on `high priority` issues or those without an `in-progress` label.

[2017-09-13 13:54] iteles commented on #238
@finnhodgkin I would suggest that the labels that appear on issues are also clickable, so that if I click on a label, it will filter by that label 👍

[2017-09-13 14:24] finnhodgkin commented on #238
@iteles Great idea!

Searching by labels is proving difficult because Ecto doesn't have many query options for postgres arrays. We're building our own filtering which we'll hopefully be able to force into playing nicely with the pagination setup.

[2017-09-13 14:47] samhstn opened #239 "Credo to check test files"
At the moment credo isn't linting any of our `test` directory.

We should look at editing [here](https://github.com/dwyl/tudo/blob/master/.credo.exs#L22) to include this directory.

We should also ignore some files for instance in the `test/support` directory.

[2017-09-13 15:00] ZooeyMiller commented on #238
Unfortunately the way we've written our filtering function (filtering the issues so that only those with X labels are shown) it runs on the results of the query to the database that rummage does, which means we filter a list of twenty results, those for the individual page, which is not what we need.

It seems regarding this feature we may have to do a major overhaul in which we essentially bypass

[2017-09-13 15:06] finnhodgkin commented on #238
It's a pretty central feature and I can't see any way to do it without doing all of the above :cry: .

[2017-09-13 15:20] #208 closed, assigned to ZooeyMiller, finnhodgkin

[2017-09-13 15:20] finnhodgkin commented on #221
We ended up removing the individually imported module altogether so this issue doesn't apply anymore :+1:

[2017-09-13 15:20] #221 closed, assigned to nobody

[2017-09-13 16:07] #239 closed, assigned to ZooeyMiller

[2017-09-13 16:57] ZooeyMiller commented on #229
Due to changes made in #237 we now have an option to view unlabelled issues, but the unlabelled issues are still displayed in the `help wanted` view.

We need to look into filtering the issues so that in the `help wanted` view we actually only see help wanted issues.

[2017-09-14 09:38] ZooeyMiller commented on #234
We're thinking to use the [Government Digital Services accessible-autocomplete](https://github.com/alphagov/accessible-autocomplete). We had a talk from someone from GDS during F&C and this little module looks really good, accessible, and browser comaptible (we tested it on safari, chrome and firefox).

[2017-09-14 12:52] iteles commented on #238
@finnhodgkin @ZooeyMiller Does your original time estimation still hold for this?
Could you please write out your implementation checklist so that we can ask @shouston3 to have a quick look through before we spend further time implementing?

[2017-09-14 13:00] finnhodgkin commented on #238
It probably ended up more like 6hrs. The central functionality and tests are there but it still needs a bit of polish:
* issues can't be sorted while label filtering is on
* label checkboxes don't retain state between pages
* the coloured labels aren't clickable

I'm also not that happy with [my implementation](https://github.com/dwyl/tudo/compare/filter-by-labels). Although it works it involves q

[2017-09-14 13:01] finnhodgkin commented on #238
I'm happy to pause this issue and work on something else while waiting for feedback / ideas :smile:.

[2017-09-14 13:02] iteles commented on #238
@finnhodgkin What do you need feedback on? Whether the above bullets are necessary?

[2017-09-14 13:03] finnhodgkin commented on #238
Implementation. Sorry I was just editing the comment above to include a checklist.

[2017-09-14 13:41] finnhodgkin commented on #235
This is ready to go, I'm just waiting on #237 to be merged so it can be added to both the labelled and unlabelled views.
[code]

[2017-09-14 13:53] finnhodgkin commented on #214
@iteles Any thoughts on what information should be included with the banner? We were thinking maybe just a 'Feedback' link to keep it as clean as the banner above.

While on the topic of branding, Oli hand coded the dwyl heart logo as an svg a while back. It's about ~300 bytes so could be a nice replacement for the large png logos used in a lot of dwyl projects.

https://codepen.io/oliverjam/pen/K

[2017-09-14 15:13] finnhodgkin commented on #238
This is the last thing on my list that doesn't require a merge or feedback so I'll hop back to it for now:+1:

[2017-09-14 15:17] iteles commented on #238
@shouston3 If you have a little time to lend us your wisdom on the implementation side of this as mentioned in https://github.com/dwyl/tudo/issues/238#issuecomment-329474169, that would be wonderful

[2017-09-14 15:19] finnhodgkin commented on #238
I ran out of other issues that don't require a merge / feedback so I hopped back onto this. Issues now retain checks between pages so there are only a couple of todos to go.

Happy for some help though @shouston3!

[2017-09-14 15:31] samhstn commented on #238
I think you should divide up each of the issues outlined in https://github.com/dwyl/tudo/issues/238#issuecomment-329474169 into separate issues and we can discuss/plan/time estimate each one separately

[2017-09-14 15:38] finnhodgkin opened #242 "Clickable issue labels to filter results"
To speed up issue searching, each label tag (shown below) should also act as a link that filters results.

![peek 2017-09-14 16-38](https://user-images.githubusercontent.com/22300773/30439242-1f088a24-996b-11e7-835a-39ec9e78fea3.gif)

#238

[2017-09-14 15:41] finnhodgkin opened #243 "Label filtering should work with existing search features"
Label filtering will need to work seamlessly with all existing search, sort, filter and pagination features. Without search integration it really isn't that useful :cry:

#238

[2017-09-14 15:45] finnhodgkin commented on #238
I've added both unfinished issues to separate issues.

I'll outline my plan for each in the comments :+1:

[2017-09-14 15:51] finnhodgkin commented on #242
Issue search currently works by adding a large query string to the end of all the pagination links / get requests via forms / links.

The previous search results are stored on `conn.query_string` so I should be able to make each label a link with a target of `/? + conn.query_string + a custom parameter based on the label name`.

[2017-09-14 15:57] finnhodgkin commented on #243
Everything apart from sorting is already integrated.

I _think_ sorting can be implemented in the same way as searching - applying a sort to the database query in the case of a sort rummage parameter. [See here](https://github.com/dwyl/tudo/blob/filter-by-labels/web/issue_sorting/issue_sorting.ex#L46-L53) for the search version.

[2017-09-14 16:36] finnhodgkin commented on #242
I've got it working on desktop but not on the mobile card.

@shouston3 can view functions be included in components or do they need to be passed in as parameters.

I passed the function in as a param :+1:

[2017-09-15 09:18] finnhodgkin commented on #243
Filtering with sorting is now working.

The only issue is that the sort isn't retained when a form search is made. Pretty sure this can be fixed with some hidden sort inputs on the search form.

[2017-09-15 09:54] samhstn commented on #242
I'm pretty sure you can pass view functions to components without having to pass it as a parameter.
Have you tried importing the helper functions in the `web/web.ex` file.

[2017-09-15 11:06] ZooeyMiller opened #245 "Make assignee avatars links to github profiles"
As someone unfamiliar with dwyl-folk
I would like the avatars of assignees to be links to their github profiles
So that I can see _who_ is actually assigned.

[2017-09-15 11:26] Jbarget commented on #231
![screen shot 2017-09-15 at 12 08 14](https://user-images.githubusercontent.com/11725595/30479883-062c0220-9a0f-11e7-8e88-2bebab267851.png)
im not getting the assignee image :(

Here's the markup:
![screen shot 2017-09-15 at 12 12 04](https://user-images.githubusercontent.com/11725595/30479909-2273b1bc-9a0f-11e7-97d6-3199d658a2cf.png)

[2017-09-15 11:27] Jbarget commented on #231
is this old behaviour, i've pulled down the latest `master`

[2017-09-15 11:30] #234 closed, assigned to ZooeyMiller

[2017-09-15 11:32] Jbarget commented on #231
ah realised i probably need to purge my DB

[2017-09-15 11:53] Jbarget opened #247 "Error running seed file"
following the Getting Started instructions when i run `mix run priv/repo/seeds.exs` i get:

![screen shot 2017-09-15 at 12 51 37](https://user-images.githubusercontent.com/11725595/30481082-c401d43c-9a14-11e7-9ece-88a763bb4982.png)

Environment variables have been exported so just wondering if theres a change i need to know about

[2017-09-15 11:59] ZooeyMiller commented on #247
Do you have a `HOOK_ENDPOINT` set? I didn't have one so had to comment out lines 13, 14 and 20 in order to run the seed file.

[2017-09-15 12:05] Jbarget commented on #247
fails at the same line unfortunately,  `(tudo) web/github/github_api.ex:49: Tudo.GithubApi.get_repos/3`

[2017-09-15 13:16] finnhodgkin commented on #243
This took more like two hours to finish, though actually I think the predicted time was correct, I was just very distracted by a series of amazing presentations from Founders & Coders students in the space :heart:

@ZooeyMiller and I are going to go through the code together to clean it up. The tests in particular are an absolute mess. Once that's done the feature should be ready for review.

[2017-09-15 13:19] ZooeyMiller commented on #247
Hm, I'm getting the same error when I run the file. Will have a look into what the problem is.

[2017-09-15 13:35] finnhodgkin opened #248 "Autocomplete broken for me"
The autocomplete isn't working as expected for me. When I press enter on an autocomplete result it doesn't perform a search, instead a bunch of spaces are appended to the end of the input and the autocomplete flashes. Manually clicking the `submit` button seems to work but that's really not ideal.

Gif for illustration:

![Not working...](https://user-images.githubusercontent.com/22300773/30484671

[2017-09-15 14:23] #248 closed, assigned to ZooeyMiller

[2017-09-15 15:01] finnhodgkin commented on #247
It's working perfectly on mine. Weird.
We're comparing our machines now... @ZooeyMiller and I have the same access token so I don't _think_ it's permissions related.

[2017-09-15 15:08] ZooeyMiller commented on #247
@Jbarget can you try deleting your `mix.lock` and re-running `mix deps.get` then trying the seed file again? Worked for me.

[2017-09-15 15:59] Jbarget commented on #247
worked 👍

[2017-09-15 15:59] #247 closed, assigned to ZooeyMiller, finnhodgkin

[2017-09-15 16:11] Jbarget opened #250 "Max-height on autocomplete dropdown"
At the moment we have this:
![screen shot 2017-09-15 at 17 00 51](https://user-images.githubusercontent.com/11725595/30492460-7078842c-9a38-11e7-8b8d-05d02c05b6f4.png)

would be good to limit the height of the dropdown

[2017-09-15 16:32] ZooeyMiller commented on #250
That looks like the old autocomplete feature, try pulling master and seeing if it's ok now?

[2017-09-15 17:10] finnhodgkin opened #251 "Issues in the database should be unique"
I've run the seed file multiple times and have a bunch of duplicate issues. To catch missed issue hooks after downtime it should definitely be possible to run the seed more than once.

There's a github url column that's unique to every issue so it should be simple enough to stop duplicates.

[2017-09-15 20:38] Jbarget commented on #250
pulled down master and now:
![screen shot 2017-09-15 at 17 54 41](https://user-images.githubusercontent.com/11725595/30494189-0632d1a6-9a3f-11e7-9594-548f0885ad10.png)

[2017-09-18 10:06] finnhodgkin commented on #250
@Jbarget I guess it must be an Opera problem? It's the progressively enhanced accessible autocomplete so if it doesn't work it displays a native select menu. Chrome and Firefox selects both look nicer than that... I don't know if there's anything we can do to improve how browsers choose to show select menus.

Here's the working dropdown in chrome:

![working](https://user-images.githubusercontent.

[2017-09-18 10:20] ZooeyMiller commented on #250
On opera on linux it looks like this:
![screenshot from 2017-09-18 11-13-30](https://user-images.githubusercontent.com/21139983/30537656-74b46318-9c62-11e7-9212-bcd3167e0c4d.png)

It looks the same on Chrome and Firefox too (pre-progressive enhancement).

It may just be the way that macOS displays selects? Is it the same in safari/chorme/other for you?

[2017-09-18 10:24] ZooeyMiller commented on #250
It looks okay on opera (linux) pre-progressive enhancement to me:
![screenshot from 2017-09-18 11-13-30](https://user-images.githubusercontent.com/21139983/30537976-d031115e-9c63-11e7-9a01-3f0be951054b.png)

(the same on Chrome and Firefox too)

Could it partly be the way that macOS displays select boxes? Is it the same on Safari/Chrome/Firefox? Will look into styling select elements though.

[2017-09-18 12:00] #245 closed, assigned to ZooeyMiller

[2017-09-18 13:38] finnhodgkin commented on #251
At the moment the seed script IO.puts a message for every duplicate issue - not ideal if it's going to be run regularly after downtime.

[2017-09-18 15:15] #251 closed, assigned to nobody

[2017-09-18 15:18] #238 closed, assigned to finnhodgkin

[2017-09-18 15:18] #242 closed, assigned to nobody

[2017-09-18 15:18] #243 closed, assigned to nobody

[2017-09-18 15:49] finnhodgkin opened #254 "Live reload errors"
Live reload keeps throwing socket connection errors. I'm not sure what's causing them...

![sockets](https://user-images.githubusercontent.com/22300773/30551046-2e593c02-9c91-11e7-939f-5e744b584927.gif)

[2017-09-18 16:21] #229 closed, assigned to nobody

[2017-09-18 16:27] finnhodgkin opened #255 "Help wanted logo should link to the homepage"
There's no way to quickly clear searches and return to the homepage. I usually expect the header logo to do this.

[2017-10-12 09:34] ghost commented on #146
<img width="1003" alt="screen shot 2017-10-12 at 10 32 00" src="https://user-images.githubusercontent.com/5732209/31489532-dbe3d3d2-af38-11e7-809a-56cfe55e8769.png">

[2017-10-16 13:45] #255 closed, assigned to ZooeyMiller

[2017-10-26 14:02] Jbarget opened #257 "Error during Github oAuth"
If you get an error page from Github during the oAuth flow, it could be because the GITHUB_CLIENT_ID is not being passed to the app correctly. Make sure you are running source ./env.sh in the tab you are starting the phoenix server in.

![screen shot 2017-07-29 at 10 40 19](https://user-images.githubusercontent.com/11725595/28743791-57b12ae8-744a-11e7-9c65-ab4306a6b9f7.png)

[2017-10-26 14:02] #257 closed, assigned to nobody

[2017-11-10 11:33] Danwhy commented on #211
It looks like webhooks need admin access to repos: https://developer.github.com/v3/orgs/hooks/, and it also looks like the `core` dwyl team doesn't have admin access to all repos: https://github.com/orgs/dwyl/teams/core/repositories. This would make sense of the problems @finnhodgkin was having (the `core` team only have write access to `learn-tdd` and `learn-tape`, but admin access to`learn-redux

[2017-11-10 11:58] iteles commented on #211
Thanks for the summary @Danwhy! Agreed that an owner token probably makes more sense as Nelson and I for example will (hopefully) be a constant and we won't need to keep swapping them around. Let's work to get you what you need (as long as we limit the access to the minimum set and if tudo is hacked they can't go deleting all our repos)!

[2017-11-10 12:13] iteles commented on #211
Done for the following & sent to @Danwhy :
<img width="437" alt="screen shot 2017-11-10 at 12 11 08" src="https://user-images.githubusercontent.com/4185328/32658126-7fcefb8c-c610-11e7-857c-7f231800f5ab.png">

[2017-11-10 12:16] Danwhy commented on #211
I think we'd just need access to repo hooks and org hooks. That shouldn't be a security issue as webhooks just send information to us, and don't allow any write access.

@shouston3, @finnhodgkin, @ZooeyMiller, @Jbarget Can you confirm those are the only permissions we need?

[2017-11-10 14:07] samhstn commented on #211
@Danwhy I think those permissions will be all we need

[2017-11-10 14:49] iteles commented on #211
Thank you both! (hai @shouston3 👋 Hope you're well!)

[2017-11-10 14:54] Danwhy commented on #211
All current repos now have the webhook attached to them, and the database should be completely up to date with all of the current issues

[2017-11-11 07:31] samhstn commented on #211
All looking deployed to me, nice @Danwhy 👍

Tested on https://tudo-app.herokuapp.com

[2017-11-11 07:31] #211 closed, assigned to nobody

[2017-11-12 18:50] iteles commented on #140
Moved this to https://github.com/dwyl/process-handbook/issues/76 for now 👍

[2017-11-12 18:50] #140 closed, assigned to nobody

[2017-12-22 10:12] iteles opened #259 "Repeated issues multiple times in app list"
I can see multiple repetitions of the same issue in the issue list on the mini app here:
https://tudo-app.herokuapp.com/?rummage[paginate][max_page]=44&rummage[paginate][page]=1&rummage[paginate][per_page]=20&rummage[paginate][total_count]=874&rummage[search][labels][search_term][]=&rummage[search][labels][search_type]=gt&rummage[sort][field]=gh_updated_at.desc

(what an insane URL by the way)
An

[2017-12-22 10:14] iteles opened #260 "First opening the app shows issues only from August 2017 & before"
As a user
I would like to come to the application and see the latest updated issues as a default
So that I get the most immediate needs shown to me first.

At the moment, the application shows only issues from August 2017 & before this date first:
![screen shot 2017-12-22 at 10 11 21](https://user-images.githubusercontent.com/4185328/34294540-dcf5f4bc-e700-11e7-9aaa-ae59d85ba8b3.png)

And it is on

[2017-12-22 15:00] samhstn commented on #259
Strange, @iteles. Do you by any chance remember what you did to make those particular issues duplicate? I can't seem to get other issues to duplicate.

One solution though would be:
+ Ensure only unique issues can be stored.
In our [issue model](https://github.com/dwyl/tudo/blob/master/web/models/issue.ex#L25) we should also be using [`unique_constraint`](https://hexdocs.pm/ecto/Ecto.Changeset.htm

[2017-12-22 16:55] iteles commented on #259
@shouston3 Yes! I just opened the app and clicked 'Updated' twice because of #260 and this was on the first page.

However, if you just open the app and go to the second page, you'll immediately see this on the second page (this issue by the way is already closed!):
<img width="745" alt="screen shot 2017-12-22 at 16 51 43" src="https://user-images.githubusercontent.com/4185328/34306003-d9003204-e7

[2017-12-22 17:24] finnhodgkin commented on #260
Eep I think I fixed this before I stopped working on Tudo but didn't push. I think if you swap round lines 15 and 17 of the `page__controller` it should fix the issue:

[code]

vs the current:

[code]

[2017-12-22 17:25] finnhodgkin commented on #260
Oh @shouston3 made his own fix. Nevermind :smile:

[2017-12-22 17:29] samhstn commented on #260
@finnhodgkin I think your solution is better, would you mind making a pr

[2017-12-22 17:51] finnhodgkin commented on #260
Sure thing :+1:

[2017-12-23 00:14] iteles commented on #260
@shouston3 Might be good to complement @finnhodgkin's excellently simple PR with your test additions for this though 😊

[2017-12-28 09:01] samhstn commented on #260
My test was for my own helper function.
@finnhodgkin used [a helper function](https://github.com/dwyl/tudo/blob/master/web/issue_sorting/issue_sorting.ex#L171) which he had already written and tested, just forgot to add it in.

[2018-01-05 11:16] #30 closed, assigned to nobody

[2018-02-15 15:49] Cleop opened #263 "Localhost: Assignee avatar image not displaying"
Locally on all issues the assignee avatar image is not displaying, instead you see something like this:

![image](https://user-images.githubusercontent.com/16775804/36265682-a7e5ed80-1267-11e8-8e48-52def9fbccc2.png)

If you click on this link you get a github 404.

I'm not sure if this is something to do with my local host and configuration or if it's happening for others locally.

Found this on t

[2018-02-15 15:55] Cleop opened #264 "Localhost: Clicking on an issue title doesn't take you to the issue on github"
Locally clicking on an issue title doesn't take you to the issue on github.

I'm not sure if this is something to do with my local host and configuration or if it's happening for others locally.

![image](https://user-images.githubusercontent.com/16775804/36265782-dfa3acb2-1267-11e8-8b6a-f1a352867762.png)

Instead you see data like this:
![image](https://user-images.githubusercontent.com/16775804/

[2018-02-15 16:24] Cleop commented on #260
@shouston3 - this seems to be working on the heroku app but it's not working on my localhost, any suggestions why?

[2018-02-15 16:26] Cleop opened #265 "Update env vars in the readme"
As a developer
I want to have up to date information about the project's env vars in the readme
So that I can set up and run the project locally easily.

The env vars in the readme are out of date and need updating.

- [ ]  Update the readme with the names of the new env vars.

[code]

[2018-02-15 17:07] samhstn commented on #260
Maybe you need to update your local database with the [seed file](https://github.com/dwyl/tudo/blob/master/priv/repo/seeds.exs). Something like `mix run priv/repo/seeds.exs`. If you clear your database before running the `seeds` file too, you may have to play around with the file to get it working.

[2018-02-16 09:46] Cleop commented on #260
@shouston3 - I tried doing that before when I was following the instructions in the readme but I was getting this error:
![image](https://user-images.githubusercontent.com/16775804/36301840-1ed4c84e-12fe-11e8-8824-5db8a237da1d.png)

I looked into the error a little but couldn't work out what was going wrong.
I tried dropping the db and starting again (following the readme commands) but I still get

[2018-02-16 10:47] samhstn commented on #260
To fix this, you basically need to try and work through understanding what the `seed` file is trying to do and fixing it so it works.
For this particular error, I would `inspect` the output of what is being passed into the function which causes this to crash (probably a function from the `Enum` or a `Map` libraries, you should put in some `IO.inspects` to track this down or type in each step using

[2018-03-02 18:42] hanman18 commented on #189
Any easy ways to convert /example?rummage[paginate][page]=2  to /example?page=2 with this library?

[2018-03-02 19:51] samhstn commented on #189
Hi @hanman18 👋

I would say that it wouldn't be that easy. It all looks hardcoded in this file: https://github.com/aditya7iyengar/rummage_phoenix/blob/master/lib/rummage_phoenix/hooks/views/paginate_view.ex (in places like [here](https://github.com/aditya7iyengar/rummage_phoenix/blob/master/lib/rummage_phoenix/hooks/views/paginate_view.ex#L61) for example)

If you post an issue the [aditya7iyengar

[2018-03-04 11:29] Jbarget commented on #189
@hanman18 @shouston3 linked to: https://github.com/dwyl/tudo/issues/206

[2018-12-05 09:36] RobStallion opened #266 "Internal server error on live site"
Trying to access the site, https://tudo-app.herokuapp.com/, gives an internal server error.

![image](https://user-images.githubusercontent.com/15571853/49504077-e5c94a80-f870-11e8-81d4-bff68d316535.png)

[2019-03-15 22:54] nelsonic commented on #1
https://blog.waffle.io/farewell-from-waffle-%EF%B8%8F-794da4a72851
![image](https://user-images.githubusercontent.com/194400/54465822-00b33100-4775-11e9-89d6-b1d317381d05.png)

This is why we don't like using closed source software ...

[2020-04-15 17:38] iteles commented on #79
Closing this issue as it's no longer most relevant here.

[2020-04-15 17:38] #79 closed, assigned to iteles

[2020-04-16 09:26] iteles commented on #143
Closing this. It's an old 'epic' and we'll need to revisit/refocus the features altogether first for current times.

[2020-04-16 09:26] #143 closed, assigned to iteles

[2021-08-25 09:42] chaks74 opened #267 "new"

[2021-08-25 13:30] nelsonic commented on #267
Hi @chaks74 guessing this issue was created as a test or error. If you have a specific question or thought please update. Thanks.

[2021-08-25 13:30] #267 closed, assigned to nobody

[2022-03-25 10:33] nelsonic commented on #266
Still the same ...

<img width="788" alt="image" src="https://user-images.githubusercontent.com/194400/160104513-f775b00c-8d81-486d-9517-de76ee1c30e5.png">

Let's do something about this!